@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?o6p5ly');
  src:  url('fonts/icomoon.eot?o6p5ly#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?o6p5ly') format('truetype'),
    url('fonts/icomoon.woff?o6p5ly') format('woff'),
    url('fonts/icomoon.svg?o6p5ly#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  font-size: 30px;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-search:before {
  content: "\e901";
}
.icon-note:before {
  content: "\e905";
}
.icon-folder:before {
  content: "\e900";
}
.icon-arrow:before {
  content: "\e90a";
}
.icon-related:before {
  content: "\e907";
}
.icon-exact:before {
  content: "\e908";
}
.icon-close:before {
  content: "\e909";
}
.icon-label:before {
  content: "\e902";
}
.icon-altlabel:before {
  content: "\e903";
}
.icon-preflabel:before {
  content: "\e904";
}
