<div class="dialogwrapper text">
	<div class="dialogheader">
		<h3 ng-bind="data.value"></h3>
		<p class="typeinformation">Translation</p>
		<div class="line-bottom line"></div>
	</div>

	<div class="dialogscroll">
	<div class="nano">
	<div class="nano-content">
		<div class="dialogbox dialog-full">
			<h4>Edit</h4>
			<input ng-model="newValue" ng-init="newValue = data.value"></input>
		</div>


		<div class="line-dialog line" ng-show="!data.isThumbnail"></div>
		<div class="dialogbox dialog-full" ng-show="!data.isThumbnail">
			<h4>Actions</h4>
      <!-- prevent thumbnail label from being deleted -->
      		<ls-confirm-button text="Delete Translation" on-confirm="onDeleteClick(); closeThisDialog()"></ls-confirm-button>
		</div>


	</div>
	</div>
	</div>



	<div class="cancel" ng-click="closeThisDialog()">Cancel</div>
	<div class="apply" ng-click="updateTranslation(newValue); closeThisDialog()" ng-class="{'inactive': newValue === data.value}">Apply</div>
</div>
