<div id="enrichment-src" ng-show="showEnrichments">
	<div id="separator">
		<h1><!--Enrich--></h1>

    <!-- search tab -->
    <div id="enrichmentsearch" class="threequarter" ng-init="showSearch = true">

      <div class="tab lefttab" ng-click="showSearch = true" ng-class="{'active': showSearch}">
        <span class="icon-search icon"></span>
        <input type="text" placeholder="Search in Thesauri" ng-model="searchValue" ng-keypress="onSearchKeyPress($event)"></input>
        <!--
        <button type="button" ng-click="onSearchClick(); searching = true" ng-init="searching = false">
          <span class="icon-arrow"></span>
        </button>
        -->
        <!-- <span class="icon-config icon"></span> -->

        <ls-edit-vocab-button data="vocab" shortcut="thesauri" title="{{tooltips.icons.thesauriSettings}}"></ls-edit-vocab-button>

      </div>

      <!-- labels tab -->
      <div class="tab" ng-click="showSearch = false" ng-class="{'active': !showSearch, 'ls': enrichmentVocab.title !== vocab.title}">
        <span class="tablabel">Concepts of {{ enrichmentVocab.title }}</span>
        <ls-edit-vocab-button data="vocab" shortcut="selectVocab" title="{{tooltips.icons.vocabSettings}}"></ls-edit-vocab-button>
      </div>


      <!--<span class="icon-info extendbutton"></span>-->


      <!-- hide icon -->
      <button class="hideenrichment pointer" type="button" name="button" ng-click="hideEnrichmentBrowser()">
  			<span class="icon-hide"></span>
  		</button>


		</div>



	</div>

  <div class="col left">
    <!-- add translation -->
    <ls-translation-button data="label" on-confirm="addTranslation($term, $lang)"></ls-translation-button>

    <!-- add description, uses data to hide or show -->
    <ls-description-button data="label.description" on-confirm="addDescription($description)"></ls-description-button>

    <ls-wayback-button on-confirm="addLink($uri)"></ls-wayback-button>
	</div>

	<div class="col threequarter">
		<div id="enrichmentbrowser" class="nano">
		<div class="nano-content">


      <!-- search results -->
      <div ng-show="showSearch">
        <!-- placeholder when not searching -->
        <span class="noresult" ng-show="!searching && !resultBoxes">Add enrichment sources by searching</span>

        <!-- placeholder when searching -->
        <span class="noresult" ng-show="searching && !resultBoxes">Searching ...</span>

        <ls-search-result-box ng-repeat="box in resultBoxes | orderBy: ['quality', 'type']" data="box"></ls-search-result-box>

        <div class="loader" ng-show="!resultBoxes.length">
          
        </div>

      </div>

      <!-- own vocabs -->
      <div ng-show="!showSearch">

        <ls-vocab-result-box ng-repeat="sibling in siblings | limitTo: conceptsLimit | orderBy: 'thumbnail'" data="sibling" on-confirm="addResource($concept, $relation)"></ls-vocab-result-box>

        <div class="preloader">
          <img src="images/spin.gif" alt="" ng-show="!siblings.length"/>
        </div>

        <!-- TODO: make component -->
        <span class="box bigbox label listbox" ng-show="labels.length > conceptsLimit" ng-click="conceptsLimit = conceptsLimit * 2">
          show more
        </span>
      </div>

		</div>
		</div>
	</div>

</div>

<!-- minified enrichment bar -->
<div id="enrichment-src-min" ng-show="!showEnrichments" ng-click="showEnrichmentBrowser()">
  <span class="mintext">Show Enrichment Sources</span>
</div>
