<div id="enrichment-src" ng-show="$ctrl.showEnrichments">
    <div id="separator">
	<h1><!--Enrich--></h1>

    <div id="enrichmentsearch" class="threequarter">

        <!-- search tab -->
        <div class="tab lefttab" ng-click="$ctrl.showSearch()" ng-class="{'active': showSearch}">
            <span class="icon-search icon"></span>
            <input type="text" placeholder="Search in Thesauri" ng-model="searchValue" ng-keypress="onSearchKeyPress($event)"></input>

            <ls-search-settings-button mode="thesauri" data="vocab" title="{{tooltips.icons.thesauriSettings}}"></search-settings-button>
        </div>

        <!-- labels tab -->
        <div class="tab" ng-click="showSearch = false" ng-class="{'active': !showSearch, 'ls': enrichmentVocab && enrichmentVocab.title !== vocab.title}">
            <span class="tablabel">Concepts of {{ enrichmentVocab.title }}</span>

            <ls-search-settings-button mode="vocabs" data="vocab" title="{{tooltips.icons.thesauriSettings}}"></search-settings-button>
        </div>

        <!-- hide icon -->
        <button class="hideenrichment pointer" type="button" name="button" ng-click="$ctrl.toggleEnrichments()">
  		    <span class="icon-hide"></span>
  		</button>
	</div>
</div>

<div class="col left">

    <!-- add translation -->
    <ls-translation-button data="label" on-confirm="addTranslation($term, $lang)"></ls-translation-button>

    <!-- add description, uses data to hide or show -->
    <ls-description-button data="$ctrl.concept"></ls-description-button>

    <ls-wayback-button on-confirm="addLink($uri)"></ls-wayback-button>

</div>

	<div class="col threequarter">
		<div id="enrichmentbrowser" class="nano">
		    <div class="nano-content">

                <!-- search results -->
                <div ng-show="showSearch">

                    <!-- placeholder when not searching -->
                    <span class="noresult" ng-show="!searching && !resultBoxes">Add enrichment sources by searching</span>

                    <ls-vocab-result-box ng-repeat="searchResult in resultBoxes | orderBy: ['quality', 'type']" data="searchResult"></ls-vocab-result-box>

                    <!-- spinning icon -->
                    <div class="loader" ng-show="searching && !resultBoxes.length"></div>

                </div>

                <!-- own vocabs -->
                <div ng-show="!showSearch">

                    <ls-vocab-result-box ng-repeat="sibling in siblings | limitTo: $ctrl.conceptsLimit | orderBy: 'thumbnail'" data="sibling" ></ls-vocab-result-box>

                    <div class="loader" ng-show="$ctrl.loading"></div>

                    <ls-show-more-button ng-show="$ctrl.hasMoreConcepts()" limit="$ctrl.conceptsLimit"></ls-show-more-button>

                </div>

		    </div>
		</div>
	</div>

</div>

<!-- minified enrichment bar -->
<div id="enrichment-src-min" ng-show="!$ctrl.showEnrichments" ng-click="$ctrl.toggleEnrichments()">
    <span class="mintext">Show Enrichment Sources</span>
</div>
