<div class="dialogwrapper text">
	<div class="dialogheader">
		<h3>history</h3>
	</div>

	<div class="dialogscroll">
    	<div class="nano">
        	<div class="nano-content">
        		<div class="dialogbox dialog-full">
                    <span class="thesaurus" ng-repeat="revision in $ctrl.revisions">
                        <span>{{ revision.date | date:"dd.MM.yyyy" }}</span><br><br>
                        <span class="italic">{{ revision.action }}</span>
                        <span class="italic">{{ revision.objectType }}</span><br>
                        <span>{{ revision.valueBefore }}</span>
                        <span>{{ revision.valueAfter }}</span>
                    </span>
        		</div>
        	</div>
    	</div>
	</div>
</div>
