<div id="breadcrumb">

  <!-- vocabulary -->
  <span ng-show="showVocabulary">
    <a class="outside" ng-show="!showVocabularies" href="#/admin/vocabularies" ng-bind="user.name"></a>
    <span class="icon-breadcrumb"></span>
  </span>

  <!-- label detail -->
  <span ng-show="showLabelDetail">

    <a class="outside" ng-show="!showVocabularies" href="#/admin/vocabularies" ng-bind="user.name"></a>

    <span class="icon-breadcrumb"></span>

    <a ng-href="#/admin/vocabularies/{{ vocabulary.id }}/concepts" ng-bind="vocabulary.title.value"></a>
    
    <span class="icon-breadcrumb"></span>

  </span>

</div>
