<div class="box bigbox label listbox" ng-click="onLabelClick(label.id)">

  <span class="thumbnail" ng-repeat="prefLabel in label.prefLabels | filter: {isThumbnail: 'true'}">

    <button class="showadditionalcontent" ng-click="toggleExtension(); $event.stopPropagation()">
      <span ng-show="!showMore">+</span>
      <span ng-show="showMore">-</span>
    </button>
    {{ prefLabel.value}}
  </span>

  <mini-preview label="label"></mini-preview>

  <span class="type"><span class="icon-label"></span></span>

  <span class="language" ng-repeat="prefLabel in label.prefLabels | filter: {isThumbnail: 'true'}">
    {{ prefLabel.lang.split("-")[0] }}
  </span>

</div>

<div ng-if="showMore" class="box boxextension bigbox label high">
  <span class="note">{{ label.scopeNote.value }}</span>
  <span>Created by: {{ label.creator }}</span>
</div>
