<span ng-class="{'micro': 'micropreview', 'mini': 'minipreview'}[size]">

  <!-- broader -->
  <span ng-class="{'micro': 'microcol', 'mini': 'minicol'}[size]">
    <span ng-repeat="box in miniBoxes | filter: broaderFilter" class="minibox {{box.type}}"></span>
  </span>

  <!-- text -->
  <span ng-class="{'micro': 'microcol', 'mini': 'minicol'}[size]">
    <span ng-repeat="box in miniBoxes | filter: attributeFilter" class="minibox {{box.type}}"></span>
  </span>

  <!-- relations -->
  <span ng-class="{'micro': 'microcol', 'mini': 'minicol'}[size]">
    <span ng-repeat="box in miniBoxes | filter: relatedFilter" class="minibox {{box.type}}"></span>
  </span>

  <!-- narrower -->
  <span ng-class="{'micro': 'microcol', 'mini': 'minicol'}[size]">
    <span ng-repeat="box in miniBoxes | filter: narrowerFilter" class="minibox {{box.type}}"></span>
  </span>

</span>
