<div class="box small {{ cssClass }} {{ quality }}" ng-click="onBoxClick()">

  <!-- relation icon -->
  <span class="relation" ng-bind-html="relation"></span>

  <span class="thumbnail" ng-bind="text"></span>

  <!-- type icon -->
  <span class="type" ng-bind-html="type" title="{{ tooltip }}" ng-show="ngModel.boxType !== 'label'"></span>

  <mini-preview label="ngModel.resource" size="micro" ng-show="ngModel.boxType === 'label'"></mini-preview>

  <span class="language" ng-bind="language" ng-show="box.boxType === 'prefLabel' || box.boxType === 'altLabel'"></span>

</div>
