<div class="box vocabulary label" ng-click="$ctrl.onClick($ctrl.data.id)">

    <span class="vocabname" ng-bind="$ctrl.data.title.value"></span>
    <!--<span class="vocabrelease" ng-bind="$ctrl.data.releaseType + ' vocabulary'"></span>-->
    <span class="vocabsize">{{ $ctrl.data.statistics.labelCount }} concepts</span>

    <span class="language" ng-bind="$ctrl.data.description.lang"></span>

    
    <span class="note" ng-bind="$ctrl.data.description.value"></span>

    <!--
    <span class="listtype">Creation date</span>
    <span class="listcontent" ng-bind="$ctrl.data.created | date: 'dd.MM.yyyy'"></span>
    -->
   
    

    
    

    
    

    <span class="icon-folder icon"></span>

    <span class="icon-edit icon" ng-click="$event.stopPropagation()" ls-vocab-dialog></span>

    <span class="linksize">
        <span class="minibox ls"></span>
        <span class="minibox getty"></span>
        <span class="listcontent">{{ $ctrl.data.statistics.externalLinks }}</span>
        <span class="minibox concept"></span>
        <span class="listcontent">{{ $ctrl.data.statistics.internalLinks }}</span>
    </span>

</div>
