<div class="dialogwrapper label">
    <div class="dialogheader">
        <h3 ng-bind="$ctrl.heading"></h3>
        <div class="line-bottom line"></div>
    </div>

    <div class="dialogscroll nocontrol">
        <div class="nano">
            <div class="nano-content">

                <!-- thesauri -->
                <div class="dialogboxnopadding dialog-full" ng-if="$ctrl.mode === 'thesauri'">
                    <div class="thesaurus" ng-repeat="thesaurus in $ctrl.thesauri | orderBy: ['name']" ng-class="{'checked': thesaurus.checked}" ng-show="thesaurus.name.indexOf('this.') === -1">
                        <div class="checkboxwrapper">
                            <checkbox ng-model="thesaurus" on-check="$ctrl.saveThesauri()"></checkbox>
                        </div>
                        <h5 ng-bind="thesaurus.name"></h5>
                        <p ng-bind="thesaurus.description"></p>
                    </div>

                </div>

                <!-- vocabs -->
                <div class="dialogboxnopadding dialog-full" ng-if="$ctrl.mode === 'vocabs'">
                    <div class="thesaurus thesaurussmall" ng-repeat="vocab in $ctrl.vocabs | filter: $ctrl.isValidVocab | orderBy: 'title'" ng-class="{'checked': vocab.id === $ctrl.referenceVocabID}">
                        <ls-radiobox checked="vocab.id === $ctrl.referenceVocabID" on-check="$ctrl.saveReferenceVocab(vocab.id)"></ls-radiobox>

                        <h5>
                            {{ vocab.title }}
                            <span ng-if="$ctrl.data.id === vocab.id">(current)</span>
                        </h5>
                        <p class="dialog-half" ng-bind="vocab.description"></p>

                        <span class="floatright" ng-show="vocab.creator !== $ctrl.user.id">
                            <a ng-href="{{ vocab.creatorInfo.orcid }}" target="_blank" ng-bind-html="$ctrl.getCreatorAsLink(vocab)"></a>
                        </span>
                    </div>
                </div>

            </div><!-- end nano-content -->
        </div><!-- end nano -->
    </div><!-- end dialog scroll -->
</div>
