<div id="breadcrumb">

  <span>
    <!-- vocabs link -->
    <a ng-show="$ctrl.mode === 'editor'" class="outside" href="#/editor/vocabularies">My vocabularies</a>
    <a ng-show="$ctrl.mode === 'viewer'" class="outside" href="#/vocabularies">All vocabularies</a>

    <!-- placeholder -->
    <span class="icon-breadcrumb"></span>

    <!-- concepts link (if in concepts-detail) -->
    <a ng-show="$ctrl.conceptID && $ctrl.mode === 'editor'" ng-href="#/editor/vocabularies/{{ $ctrl.vocabID }}/concepts">{{ $ctrl.vocab.title }}</a>
    <a ng-show="$ctrl.conceptID && $ctrl.mode === 'viewer'" ng-href="#/vocabularies/{{ $ctrl.vocabID }}/concepts">{{ $ctrl.vocab.title }}</a>

    <!-- placeholder (if in concepts-detail) -->
    <span ng-show="$ctrl.conceptID" class="icon-breadcrumb"></span>

  </span>

</div>
