<div class="dialogwrapper label">
	<div class="dialogheader">
		<h3>Create new vocabulary</h3>
		<div class="line-bottom line"></div>
	</div>

	<div class="dialogscroll">
	<div class="nano">
	<div class="nano-content">

		<div class="dialogbox dialog-full">
			<h4>name</h4>
			<input type="text" placeholder="title" ng-model="newVocab.title">
		</div>


		<div class="line-dialog line"></div>

		<div class="dialogbox dialog-full">
			<h4>description</h4>
			<input type="text" placeholder="description" ng-model="newVocab.description">
		</div>

		<div class="line-dialog line"></div>

		<div class="dialogbox dialog-full">
			<h4>Language</h4>
			<select ng-model="newVocab.language">
			   <option ng-repeat="language in languages | orderBy: 'name'" value="{{language.value}}" ng-bind="language.name"></option>
			</select>
		</div>


	</div>
	</div>
	</div>


	<div class="cancel" ng-click="closeThisDialog()">Cancel</div>
	<div class="apply" ng-click="$ctrl.onConfirm({$newVocab: newVocab}); closeThisDialog()" ng-disabled="!term" ng-class="{'inactive': !newVocab.title || !newVocab.description || !newVocab.language}">Apply</div>
</div>
