<div id="header" class="box full">
    <input id="labelSearch" type="text" placeholder="{{ placeholder }}" ng-model="filterValue" ng-disabled="loading">
	<div class="loader" ng-show="loading"></div>
</div>

<div class="separatorsmall" ng-show="filterValue">
    <div class="listoptions">
        <ls-order-dropdown order="conceptOrder"></ls-order-dropdown>
        <ls-extend-button ng-click="$ctrl.toggleExtent()"></ls-extend-button>
    </div>
</div>

<div id="listwrapperviewer" ng-class="{'viewersearch': !filterValue}">
	<div class="nano">

    <div id="boxcontainer" class="nano-content">

        <h1 class="landingh1" ng-show="!filterValue">labeling system</h1>

    	<!-- search results -->
    	<ul ng-show="filterValue" style="color:white">

            <ls-list-box ng-repeat="label in filteredLabels = ($ctrl.labels | filter: {thumbnail: filterValue}) | orderBy: conceptOrder | limitTo: $ctrl.resultsLimit as limitedLabels" concept="label" mode="viewer"></ls-list-box>

            <ls-show-more-button ng-show="filterValue && filteredLabels.length > limitedLabels.length" limit="$ctrl.resultsLimit"></ls-show-more-button>

    		<!-- message when no labels found -->
    		<span ng-show="filterValue && !filteredLabels.length">
    			No labels found, <a href="#/vocabularies">browse vocabularies!</a>
    		</span>

    	</ul>

    	<!-- landing page text prior to search -->
    	<div ng-show="!filterValue">


            <div class="dialog-halfrightpadding whitetext float emphasize marginbottom">


    			<p>
    			This instance of the Labeling System (LS) contains controlled vocabularies and concepts of mainzed's partner institutes. The main goal is to publish knowledge as keywords to the public. Moreover, it creates interoperabilty between distributed data repositories. The LS is based on Linked Open Data techniques, in particular a limited usage of SKOS.
    			<br><br>
		        The Labeling System is a web-application for building up your own special controlled vocabularies. Vocabularies consist of concepts described by a label and translations. In addition, concepts can be linked to other concepts in the Linked Open Data Cloud. These links can be hierarchical, associative or mapping. Moreover, the app provides a convenient way to search through controlled vocabularies (reference thesauri) in the Linked Open Data Cloud. Once a concept is released, it can be publicly accessed via a Uniform Resource Identifier (URI).
    			<br><br>
                
    			</p>
               
    		</div>
            <div class="dialog-quarter whitetext float emphasize marginbottom">
                The public version of the Labeling System offers the possibility to view and download released vocabularies.<br><br>

                The editor mode is only available for registered users. Please contact us via email if you want to participate. 
                <a href="mailto:labeling@mainzed.org">
                    <div class="contactbutton confirm pointer">
                      <span class="buttontext confirmtext">Request Editor Account</span>
                    </div>
                </a>

            </div>
            <div class="dialog-halfrightpadding whitetext float emphasize break linetop">
                <span>
                   <span class="italic">Advisor</span><br>
                    Kai-Christian Bruhn (mainzed)<br><br>

                    <span class="italic">Backend Architecture and API Development</span><br>
                    Florian Thiery (i3mainz, RGZM)<br><br>

                    <span class="italic">Frontend Development</span><br>
                    User Interface Design / CSS: Matthias Dufner (i3mainz)<br>
                    AngularJS: Axel Kunz (i3mainz)<br><br>

                    <span class="italic">Documentation & Code</span><br>
                    <a class="clear float" href="https://github.com/mainzed/labelingsystem-client">
                        <div class="float">
                            <img src="../images/logos/GitHub-Mark-Light-120px-plus.png" width="16" class="githublogo" />
                        </div>
                        <div class="float margintop underlinedlink">
                            Labeling System Client (AngularJS, JQuery)
                        </div>
                    </a><br>
                    <a class="clear float" href="https://github.com/mainzed/labelingsystem-server">
                        <div class="float">
                            <img src="../images/logos/GitHub-Mark-Light-120px-plus.png" width="16" class="githublogo" />
                        </div>
                        <div class="float margintop underlinedlink">
                            Labeling System Server (JAVA, RDF4J, SQLite)
                        </div>
                    </a><br><br>

                    <span class="italic">Idea</span><br>
                    Michael Piotrowski (IEG)<br>
                    Giovanni Colavizza (IEG)<br><br>

                    <span class="italic">Participating Institutes</span><br>
                    <span class="listtypemin">mainzed</span><span class="listcontent">Mainz Centre for Digitality in the Humanities and Cultural Studies</span>
                    <span class="listtypemin">IEG</span><span class="listcontent">Institute for European History</span><br>
                    <span class="listtypemin">i3mainz</span><span class="listcontent">Institute for Spatial Information and Surveying Technology</span><br>
                    <span class="listtypemin">RGZM</span><span class="listcontent">Römisch-Germanisches Zentralmuseum</span><br><br>
                    


                </span>
                <div class="logos">
                        <a href="http://www.mainzed.org">
                            <img src="../images/logos/mainzed.png" width="100" class="mainzedlogo logo" />
                        </a>
                        <a href="http://www.ieg-mainz.de/">
                            <img src="../images/logos/ieg.png" width="30" class="ieglogo logo" />
                        </a>
                        <a href="http://www.i3mainz.hs-mainz.de/">
                            <img src="../images/logos/i3mainz.png" width="38" class="i3mainzlogo logo" />
                        </a>
                        <a href="http://www.rgzm.de">
                            <img src="../images/logos/rgzm.png" width="80" class="rgzmlogo logo" />
                        </a>
                </div>
    		</div>

            <div class="dialog-halfrightpadding whitetext float linetop">

                <p>
                    <span class="italic">Impressum</span><br>
                    Angaben gemäß § 5 TMG:<br>

                    mainzed - Mainzer Zentrum für Digitalität in den Geistes- und Kulturwissenschaften<br>
                    c/o Hochschule Mainz University of Applied Sciences<br>
                    Lucy-Hillebrand-Straße 2<br>
                    55128 Mainz, Germany<br><br>
                    <span class="italic">Kontakt</span><br>
                    <span class="listtypemin">Tel:</span><span class="listcontent">+49(0)6131-628-1495</span>
                    <span class="listtypemin">Fax:</span><span class="listcontent"> +49(0)6131-628-9-1495</span><br>
                    <span class="listtypemin">E-Mail:</span><span class="listcontent"> klammt@mainzed.org</span><br>
                    <span class="listtypemin">Website:</span><span class="listcontent">
                        <a href="https://mainzed.org">https://mainzed.org</a>
                    </span><br><br>
                </p>
            </div>




    	</div>
    </div>
    </div>

</div>
