esc<div id="header" class="box full" ng-class="vocabulary.releaseType">

    <input id="labelSearch" type="text" placeholder="{{placeholder}}" ng-model="filterValue" ng-change="onSearchBoxChange()" ng-disabled="!labels">

	<div class="loader" ng-show="placeholder === 'loading labels ...'"></div>

</div>

<div id="listwrapper" class="listwrappermin">

	<h1 class="landingh1" ng-show="!filterValue">labeling system</h1>

	<!-- search box -->


	<!-- search results -->
	<ul ng-show="filterValue" style="color:white">

		<li ng-repeat="label in filteredLabels = (labels | filter: {thumbnail: filterValue}) | limitTo: resultsLimit as limitedLabels">
            <!-- <span>{{ filteredLabels.length }}</span>
            <span>{{ limitedLabels.length }}</span> -->
			<a href="#/vocabularies/{{ label.vocabID }}/concepts/{{ label.id }}">

				<!-- <span ng-bind-html="highlightResult(label.thumbnail, filterValue)"></span> -->
                <span ng-bind="label.thumbnail"></span>
				<!-- <span ng-show="label.description.indexOf(filterValue)">description:</span>
				<span ng-show="label.description.indexOf(filterValue)" ng-bind-html="highlightResult(label.description, filterValue)"></span> -->
				<!-- <span ng-repeat="prefLabel in label.prefLabels" ng-bind-html="highlightResult(prefLabel.value, filterValue)" ng-show="prefLabel.isThumbnail"></span> -->
			</a>

			<!-- scopeNote -->
			<!-- <ul>
				<li ng-bind-html="highlightResult(label.scopeNote.value, filterValue)" ng-show="label.scopeNote.value.indexOf(filterValue) > -1"></li>
			</ul> -->

		</li>

        <span ng-show="filterValue && filteredLabels.length > limitedLabels.length" ng-click="resultsLimit = resultsLimit * 2">show more</span>

		<!-- message when no labels found -->
		<span ng-show="filterValue && !filteredLabels.length">
			No labels found, <a href="#/vocabularies">browse vocabularies!</a>
		</span>

		<!-- show more -->
		<!-- <span ng-show="filterValue && filteredLabels.length >= 30">
			Only showing first 30 results!
		</span> -->
	</ul>

	<!-- landing page text prior to search -->
	<div ng-show="!filterValue">
		<div class="dialog-half whitetext emphasize float">
			<h6>Viewer</h6>
			<p>
			Portland wolf meggings, slow-carb four loko squid helvetica. Viral authentic bicycle rights bespoke brooklyn forage, irony everyday carry quinoa. Umami wolf organic, hoodie ennui disrupt church-key kinfolk gastropub synth. Ramps fashion axe cliche, keffiyeh 3 wolf moon before they sold out kinfolk master cleanse pour-over listicle williamsburg four dollar toast ethical kitsch. Organic stumptown occupy, DIY meh man bun four dollar toast shoreditch craft beer mlkshk retro four loko. Vice letterpress plaid cray. Everyday carry try-hard readymade, deep v meh fixie bicycle rights keytar drinking vinegar godard hammock cold-pressed.
			</p>
		</div>
		<div class="dialog-half whitetext emphasize float">
			<h6>Editor</h6>
			<p>
			Authentic craft beer synth portland kale chips bitters. Squid migas lo-fi, swag keytar helvetica YOLO williamsburg tousled twee polaroid. Knausgaard organic literally austin, typewriter farm-to-table artisan beard fap lomo four loko banjo. Green juice photo booth humblebrag cliche, butcher raw denim shabby chic whatever celiac affogato vinyl lumbersexual intelligentsia artisan banh mi. Hella shoreditch street art, kickstarter you probably haven't heard of them viral normcore ethical selvage twee kitsch hoodie typewriter. Artisan squid polaroid photo booth narwhal umami. Franzen venmo iPhone freegan, authentic letterpress poutine cray.<br><br>
			</p>
		</div>

		<div class="whitetext">
			<a href="#/editor/login">Editor Login</a>
		</div>


	</div>
</div>
