<div id="header" class="box full">
    <input id="labelSearch" type="text" placeholder="{{ placeholder }}" ng-model="filterValue" ng-disabled="loading">
	<div class="loader" ng-show="loading"></div>
</div>

<div class="separatorsmall" ng-show="filterValue">
    <ls-order-dropdown order="conceptOrder"></ls-order-dropdown>
</div>

<div id="listwrapper" class="viewersearch">
	<div class="nano">

    <div id="boxcontainer" class="nano-content">

        <h1 class="landingh1" ng-show="!filterValue">labeling system</h1>

    	<!-- search results -->
    	<ul ng-show="filterValue" style="color:white">

    		<ls-result-box ng-repeat="label in filteredLabels = (labels | filter: {thumbnail: filterValue}) | orderBy: conceptOrder | limitTo: $ctrl.resultsLimit as limitedLabels" concept="label"></ls-result-box>

            <span ng-show="filterValue && filteredLabels.length > limitedLabels.length" ng-click="$ctrl.resultsLimit = $ctrl.resultsLimit * 2">show more</span>

    		<!-- message when no labels found -->
    		<span ng-show="filterValue && !filteredLabels.length">
    			No labels found, <a href="#/vocabularies">browse vocabularies!</a>
    		</span>

    	</ul>

    	<!-- landing page text prior to search -->
    	<div ng-show="!filterValue">

    		<div class="dialog-half whitetext float">
    			<h6>Impressum</h6>
                <p>
                Angaben gemäß § 5 TMG:<br><br>

                    mainzed - Mainzer Zentrum für Digitalität in den Geistes- und Kulturwissenschaften<br>
                    c/o Hochschule Mainz University of Applied Sciences<br>
                    Lucy-Hillebrandtstr.2<br>
                    55128 Mainz, Germany<br><br>
                    Kontakt<br>

                    Tel:+49 (0)6131 628 1495<br>
                    Fax:+49 (0) 6131 6289 1495<br>
                    E-Mail:klammt@mainzed.org<br>
                    Website:https://mainzed.org<br><br>
                </p>
            </div>
            <div class="dialog-half whitetext float emphasize">


    			<p>
    			The Labeling System (LS) is a web-application that allows registered users to create controlled vocabularies. Vocabularies consist of concepts described by a label and translations. In addition, concepts can be linked to other concepts in the Linked Open Data Cloud. These links can be hierarchical, associative or mapping. The app provides a convenient way to search through controlled vocabularies in the Linked Open Data Cloud. Once a LS concept is published, it can be publicly accessed via a Uniform Resource Identifier (URI).
    			<br><br>
    			</p>
    		</div>

    		<div class="dialog-half whitetext float">
                <p>
                    Initial Idea<br>
                    Dr.-Ing. Michael Piotrowski (IEG)<br>
                    Giovanni Colavizza M.A. (former IEG)<br><br>

                    Advisors<br>
                    Prof. Dr. phil. Kai-Christian Bruhn (mainzed)<br><br>

                    Implementation<br>
                    CSS, conceptual design: Matthias Dufner B.A. (i3mainz)<br>
                    API: Florian Thiery M.Sc. (i3mainz, RGZM)<br>
                    Frontend: Axel Kunz M.Sc. (i3mainz)<br><br>

                    Participating Institutes<br>
                    mainzed - Mainz Centre for Digitality in the Humanities and Cultural Studies<br>
                    IEG - Institute for European History<br>
                    i3mainz - Institute for Spatial Information and Surveying Technology<br>
                    RGZM - Romano-Germanic Central Museum<br><br>
                    <div class="logos">
                        <a href="http://www.mainzed.org">
                            <img src="../images/logos/mainzed.png" width="100" class="mainzedlogo logo" />
                        </a>
                        <a href="http://www.ieg-mainz.de/">
                            <img src="../images/logos/ieg.png" width="30" class="ieglogo logo" />
                        </a>
                        <a href="http://www.i3mainz.hs-mainz.de/">
                            <img src="../images/logos/i3mainz.png" width="38" class="i3mainzlogo logo" />
                        </a>
                        <a href="http://www.rgzm.de">
                            <img src="../images/logos/rgzm.png" width="80" class="rgzmlogo logo" />
                        </a>
                    </div>
                </p>
    		</div>

    		<div class="whitetext" style="position: absolute; top: 20px; right: 20px;">
    			<a class="loudlink" href="#/editor/login">Editor Login</a>
    		</div>


    	</div>
    </div>
    </div>

</div>
