<div class="box vocabulary label {{ $ctrl.data.releaseType }}" ng-click="$ctrl.onClick($ctrl.data.id)">

    <span class="vocabname" ng-bind="$ctrl.data.title"></span>

    <span ng-if="$ctrl.mode !== 'viewer'">
        <span class="vocabsize" ng-show="$ctrl.data.statistics.labels.count > 1">{{ $ctrl.data.statistics.labels.count }} concepts</span>
        <span class="vocabsize" ng-show="$ctrl.data.statistics.labels.count === 1">{{ $ctrl.data.statistics.labels.count }} concept</span>
        <span class="vocabsize" ng-show="$ctrl.data.statistics.labels.count === 0">empty</span>
    </span>

    <span ng-if="$ctrl.mode === 'viewer'">
        <span class="vocabsize" ng-click="$ctrl.openOrcID($ctrl.data.creatorInfo.orcid); $event.stopPropagation()">{{ $ctrl.data.getCreatorFullName() }}</span>
    </span>

    <span class="language" ng-bind="$ctrl.data.language"></span>
    <span class="note" ng-bind="$ctrl.data.description"></span>

    <ls-edit-vocab-button ng-hide="$ctrl.mode === 'viewer'" data="$ctrl.data" ng-click="$event.stopPropagation()"></ls-edit-vocab-button>

    <span class="linksize">

        <span ng-show="$ctrl.data.statistics.links.external > 0" title="{{$ctrl.tooltips.icons.externalLink}}">
          <span class="minibox ls"></span>
          <span class="minibox getty"></span>
          <span class="listcontent">{{ $ctrl.data.statistics.links.external }}</span>
        </span>

        <span ng-show="$ctrl.data.statistics.links.internal > 0" title="{{$ctrl.tooltips.icons.internalLink}}">
          <span class="minibox concept"></span>
          <span class="listcontent">{{ $ctrl.data.statistics.links.internal }}</span>
        </span>

    </span>

</div>
