<div id="header" class="box full" ng-class="vocabulary.releaseType">
    <ls-breadcrumbs mode="viewer"></ls-breadcrumbs>
    <h1 ng-bind="vocabulary.title"></h1>
    <span class="icon-search" ng-click="onSearchClick()"></span>
	<span class="language" ng-bind="vocabulary.language"></span>
</div>

<div id="metafooter">
      <div class="dialog-half float">
        <span class="listtype">uri</span>
        <span class="listcontent smalllistcontent autowidth">{{ vocabulary.id }}</span>
     
      

        <span class="listtype">creator</span>
        <span class="listcontent smalllistcontent" ng-bind-html="agent.getNameAsLink()"></span>
        <span class="listtype">description</span>
        <span class="listcontent smalllistcontent">{{vocabulary.description}}</span>
        <span class="listtype">license</span>
        <span class="listcontent smalllistcontent"><a ng-href="{{vocabulary.license}}" target="_blank">{{ $ctrl.license.short }}</a></span>
        <span class="listtype">Download</span>
        <span class="listcontent smalllistcontent">
            <a ng-href="{{ vocabulary.getUrl() + '.skos' }}" target="_blank" ng-click="$event.stopPropagation()">SKOS</a>
              <!--<span class="listcontent smalllistcontent"><span class="loudlink" clipboard supported="supported" text="vocabulary.uri" on-copied="success()" on-error="fail(err)">Copy URI to clipboard</span></span>-->
        </span>


    </div>
  

    <div class="dialog-half float" id="ls-selfexplain">
        Labeling System is a web based tool for creating controlled vocabularies using linked open data techniques.
        <a style="margin-top: 20px; display: block;" href="#/">Impressum</a>
    </div>

</div>

<div class="separatorsmall">

	<div id="filtersearch">
        <input type="text" ng-model="labelFilter" placeholder="filter" autofocus>
	</div>

  <div class="listoptions">
    <ul class="sortlist">
      <li ng-click="showOptions=!showOptions" ng-init="sortName='sort by last modified'; labelOrder = '-lastModified'">{{ sortName }}<span class="icon-sort icon"></span>
        <ul ng-show="showOptions" class="sortoptions">
          <li ng-click="labelOrder = '-lastModified'; sortName='sort by last modified'" ng-class="{'active': labelOrder === '-lastModified'}">by lastModified</li>
          <li ng-click="labelOrder = orderByLabel; sortName='sort alphabetically'" ng-class="{'active': labelOrder === orderByLabel}">alphabetically</li>
          <li ng-click="labelOrder = orderByQuality; sortName='sort by quality'" ng-class="{'active': labelOrder === orderByQuality}">by quality</li>
        </ul>
      </li>
    </ul>
    <ls-extend-button ng-click="toggleExtent()"></ls-extend-button>

  </div>
</div>

<div id="listwrapper" class="listwrappermin">
	<div class="nano">
    <div id="boxcontainer" class="nano-content">

      <ls-list-box ng-repeat="label in filteredLabels = (labels | filter: {thumbnail: labelFilter} | orderBy: labelOrder | limitTo: conceptsLimit)" concept="label" mode="viewer"></ls-list-box>

      <div class="loader" ng-show="$ctrl.loading">

      </div>

      <!-- message when no labels found -->
      <!-- <span class="box bigbox label listbox" ng-show="filteredLabels.length > 30">
       No labels found, <a href="#/vocabularies">browse vocabularies!</a>
      </span> -->

      <!-- when search empty and more labels available show option to load more -->
      <span class="showmorebox" ng-show="!labelFilter && labels.length > conceptsLimit" ng-click="conceptsLimit = conceptsLimit * 2">
        show more
      </span>

      <!-- <ls-create-concept-button on-confirm="createConcept($newConcept)"></ls-create-concept-button> -->

	</div>
	</div>
</div>
