<div class="box small label high" ng-click="openDialog()">

  <!-- relation icon -->
  <span class="relation"><span ng-class="{'icon-arrow': relation === 'related'}"></span></span>

  <span class="thumbnail" ng-bind="concept.thumbnail"></span>

  <!-- type icon -->
  <!-- <span class="type" title="{{ tooltip }}"></span> -->

  <ls-preview label="concept" size="micro" title="{{ tooltips.icons.minipreview }}"></ls-preview>

  <!-- <span class="language" ng-bind="concept.language"></span> -->

</div>
