<div class="box small {{ $ctrl.cssType }} high" ng-click="openDialog()">

    <!-- relation icon (exactMatch etc) -->
    <span class="relation">
        <span ng-class="$ctrl.relationCss" title="{{ tooltips.icons[$ctrl.relation] }}"></span>
    </span>

    <span class="thumbnail" ng-bind="$ctrl.concept.thumbnail || $ctrl.concept.label"></span>

    <ls-preview ng-show="$ctrl.concept.id" label="$ctrl.concept" size="micro" title="{{ tooltips.icons.minipreview }}"></ls-preview>

    <!-- resource type icon (getty, wayback etc) -->
    <span ng-show="!$ctrl.concept.id" class="type" title="{{ $ctrl.concept.type + ' - ' + $ctrl.concept.scheme }}" ng-bind-template="{{ '(' + $ctrl.concept.type + ')' }}"></span>

    <!-- language -->
    <span ng-show="!$ctrl.concept.id" class="language" title="{{ $ctrl.langTooltip }}">
      {{ $ctrl.concept.lang }}
    </span>

</div>
