<div id="header" class="box full">

    <h1 class="vocabheading" ng-if="$ctrl.mode === 'editor'">My vocabularies</h1>

    <h1 class="vocabheading" ng-if="$ctrl.mode === 'viewer'">All vocabularies</h1>
    <span class="icon-search" ng-click="$ctrl.onSearchClick()" ng-if="$ctrl.mode === 'viewer'"></span>

</div>

<div class="separatorsmall">
	<div id="filtersearch">
        <input type="text" name="search" value="search" ng-model="vocabFilter" placeholder="filter" autofocus>
	</div>
</div>

<div id="{{ $ctrl.listID }}">
	<div class="nano">
    <div id="boxcontainer" class="nano-content voc-box">

      <ls-vocab-box ng-repeat="vocab in (filteredVocabularies = (vocabularies | filter: {'creator': user.name} | filter: {title: vocabFilter} | orderBy: 'title'))" data="vocab" mode="{{ $ctrl.mode }}"></ls-vocab-box>

      <div class="loader" ng-show="$ctrl.loading"></div>

	  </div>
	</div>
</div>

<ls-create-vocab-button ng-if="$ctrl.mode === 'editor'"></ls-create-vocab-button>

<ls-footer ng-if="$ctrl.mode === 'editor'"></ls-footer>
