<div id="header" class="box full">

  <ls-breadcrumbs></ls-breadcrumbs>

  <h1 ng-repeat="prefLabel in label.prefLabels | filter: {isThumbnail: true}" ng-bind="prefLabel.value"></h1>
	<span ng-repeat="prefLabel in label.prefLabels | filter: {isThumbnail: true}" class="language" ng-bind="prefLabel.lang"></span>

  <ls-edit-label-button data="label"></ls-edit-label-button>

</div>

<div id="enrichment-ov" ng-class="{ 'fullheight': !showEnrichments }">
	<!-- fixed table header -->
	<div class="tableheadwrapper">
		<div class="tablehead left"><span>Broader</span></div>
		<div class="insidewrapper half">
			<div class="tablehead halfleft"><span>Descriptive</span></div>
			<div class="tablehead halfright"><span>Similar</span></div>
		</div>
		<div class="tablehead right"><span>Narrower</span></div>
	</div>

	<!-- table -->
	<div class="nano enrichmentswrapper">

    <div id="enrichments" class="nano-content">

      <!-- broader column -->
  		<div class="col left">
        <ls-label-box ng-repeat="broaderConcept in label.broader" data="broaderConcept" relation="broader"></ls-label-box>
        <ls-resource-box ng-repeat="broadMatch in label.broadMatch" data="broadMatch" relation="broadMatch"></ls-resource-box>
  		</div>

      <!-- middle column -->
  		<div class="insidewrapper half paddingbottom">

        <!-- descriptive -->
  			<div class="col halfleft">
          <ls-translation-box ng-repeat="prefLabel in label.prefLabels" data="prefLabel"></ls-translation-box>
          <ls-description-box data="label.scopeNote" ng-show="label.scopeNote"></ls-description-box>
  			</div>

  			<!-- relations column -->
  			<div class="col halfright">

          <ls-label-box ng-repeat="relatedConcept in label.related" data="relatedConcept" relation="related"></ls-label-box>
          <ls-resource-box ng-repeat="relatedMatch in label.relatedMatch" data="relatedMatch" relation="relatedMatch"></ls-resource-box>
          <ls-resource-box ng-repeat="closeMatch in label.closeMatch" data="closeMatch" relation="closeMatch"></ls-resource-box>
          <ls-resource-box ng-repeat="exactMatch in label.exactMatch" data="exactMatch" relation="exactMatch"></ls-resource-box>
          <link-box ng-repeat="seeAlso in label.seeAlso" data="seeAlso"></link-box>
  			</div>

  		</div>

  		<!-- narrower column -->
  		<div class="col right">
        <ls-label-box ng-repeat="narrowerConcept in label.narrower" data="narrowerConcept" relation="narrower"></ls-label-box>
        <ls-resource-box ng-repeat="narrowMatch in label.narrowMatch" data="narrowMatch" relation="narrowMatch"></ls-resource-box>
  		</div>

  	</div>
	</div>
</div>


<div id="enrichment-src" ng-show="showEnrichments">
	<div id="separator">
		<h1><!--Enrich--></h1>

    <!-- search tab -->
    <div id="enrichmentsearch" class="threequarter" ng-init="showSearch = true">

      <div class="tab lefttab" ng-click="showSearch = true" ng-class="{'active': showSearch}">
        <span class="icon-search icon"></span>
        <input type="text" placeholder="Search in Thesauri" ng-model="searchValue"></input>
        <!--
        <button type="button" ng-click="onSearchClick(); searching = true" ng-init="searching = false">
          <span class="icon-arrow"></span>
        </button>
        -->
        <span class="icon-config icon"></span>
      </div>

      <!-- labels tab -->
      <div class="tab" ng-click="showSearch = false" ng-class="{'active': !showSearch}">
        <span class="tablabel">Labels of {{vocabulary.title.value}}</span>
        <span class="icon-config icon"></span>
      </div>


      <span class="icon-info extendbutton"></span>

      <!-- hide icon -->
      <button class="hideenrichment pointer" type="button" name="button" ng-click="hideEnrichmentBrowser()">
  			<span class="icon-hide"></span>
  		</button>


		</div>



	</div>

  <div class="col left">
    <ls-translation-button data="label.prefLabels" on-confirm="addTranslation($term, $lang)"></ls-translation-button>
    <ls-description-button data="label.scopeNote" on-confirm="addDescription($description)"></ls-description-button>
    <ls-wayback-button on-confirm="addLink($url)"></ls-wayback-button>
	</div>

	<div class="col threequarter">
		<div id="enrichmentbrowser" class="nano">
		<div class="nano-content">


      <!-- search results -->
      <div ng-show="showSearch">
        <!-- placeholder when not searching -->
        <span class="noresult" ng-show="!searching && !resultBoxes">Add enrichment sources by searching</span>

        <!-- placeholder when searching -->
        <span class="noresult" ng-show="searching && !resultBoxes">Searching ...</span>

        <ls-search-result-box ng-repeat="box in resultBoxes | filter: resultFilter | orderBy: ['quality', 'type']" data="box"></ls-search-result-box>

      </div>

      <!-- own vocabs -->
      <div ng-show="!showSearch">
        <ls-vocab-result-box ng-repeat="label in labels" data="label" action="addResource()"></ls-vocab-result-box>
      </div>

		</div>
		</div>
	</div>

</div>

<!-- minified enrichment bar -->
<div id="enrichment-src-min" ng-show="!showEnrichments" ng-click="showEnrichmentBrowser()">Expand</div>
