<div id="header" class="box full">

  <ls-breadcrumbs></ls-breadcrumbs>

  <h1 ng-repeat="prefLabel in label.prefLabels | filter: {isThumbnail: true}" ng-bind="prefLabel.value"></h1>
	<span ng-repeat="prefLabel in label.prefLabels | filter: {isThumbnail: true}" class="language" ng-bind="prefLabel.lang"></span>

  <ls-edit-label-button data="label"></ls-edit-label-button>

</div>

<div id="enrichment-ov" ng-class="{ 'fullheight': !showEnrichments }">
	<!-- fixed table header -->
	<div class="tableheadwrapper">
		<div class="tablehead left"><span>Broader</span></div>
		<div class="insidewrapper half">
			<div class="tablehead halfleft"><span>Descriptive</span></div>
			<div class="tablehead halfright"><span>Similar</span></div>
		</div>
		<div class="tablehead right"><span>Narrower</span></div>
	</div>

	<!-- table -->
	<div class="nano enrichmentswrapper">

    <div id="enrichments" class="nano-content">

      <!-- broader column -->
  		<div class="col left">
        <ls-label-box ng-repeat="broaderConcept in label.broader" data="broaderConcept" relation="broader"></ls-label-box>
        <ls-resource-box ng-repeat="broadMatch in label.broadMatch" data="broadMatch" relation="broadMatch"></ls-resource-box>
  		</div>

      <!-- middle column -->
  		<div class="insidewrapper half paddingbottom">

        <!-- descriptive -->
  			<div class="col halfleft">
          <ls-translation-box ng-repeat="prefLabel in label.prefLabels | filter: {isThumbnail: false}" data="prefLabel"></ls-translation-box>
          <ls-description-box data="label.scopeNote" ng-show="label.scopeNote"></ls-description-box>
  			</div>

  			<!-- relations column -->
  			<div class="col halfright">

          <ls-label-box ng-repeat="relatedConcept in label.related" data="relatedConcept" relation="related"></ls-label-box>
          <ls-resource-box ng-repeat="relatedMatch in label.relatedMatch" data="relatedMatch" relation="relatedMatch"></ls-resource-box>
          <ls-resource-box ng-repeat="closeMatch in label.closeMatch" data="closeMatch" relation="closeMatch"></ls-resource-box>
          <ls-resource-box ng-repeat="exactMatch in label.exactMatch" data="exactMatch" relation="exactMatch"></ls-resource-box>
          <link-box ng-repeat="seeAlso in label.seeAlso" data="seeAlso"></link-box>
  			</div>

  		</div>

  		<!-- narrower column -->
  		<div class="col right">
        <ls-label-box ng-repeat="narrowerConcept in label.narrower" data="narrowerConcept" relation="narrower"></ls-label-box>
        <ls-resource-box ng-repeat="narrowMatch in label.narrowMatch" data="narrowMatch" relation="narrowMatch"></ls-resource-box>
  		</div>

  	</div>
	</div>
</div>

<ls-enrichment-browser></ls-enrichment-browser>
