<div id="header" class="box full" ng-class="vocabulary.releaseType">
    <ls-breadcrumbs mode="viewer"></ls-breadcrumbs>

    <h1 ng-bind="label.thumbnail"></h1>
    <span class="language" ng-bind="label.language"></span>

    <span class="icon-search" ng-click="onSearchClick()"></span>
    <!-- <ls-edit-label-button data="label"></ls-edit-label-button> -->

</div>

<div id="metafooter">

    <div class="dialog-half float">
        <!--<span class="listtype">uri</span>
        <span class="listcontent smalltype autowidth">{{ uri }}</span>-->
        <span class="listtype">URI</span>
        <span class="listcontent"><span class="loudlink" clipboard supported="supported" text="uri" on-copied="success()" on-error="fail(err)">Copy URI to clipboard</span></span>

        <span class="listtype">creator</span>
        <span class="listcontent" ng-bind-html="agent.getNameAsLink()"></span>

        <span class="listtype">last modified:</span>
        <span class="listcontent">
            {{ label.lastModified | date: 'dd.MM.yyyy' }}
            <ls-history-button revisions="label.revisions" ng-show="label.revisions"></ls-history-button>
        </span>

        <span class="listtype">license</span>
        <span class="listcontent">
            <a ng-href="{{ label.license }}" target="_blank">
                {{ $ctrl.license.short }}
            </a>
        </span>

        <span class="listtype">Download</span>
        <span class="listcontent downloadlist downloadlistindent">
           <a ng-href="{{ label.getUrl() + '.jsonld' }}" target="_blank" ng-click="$event.stopPropagation()">JSONLD</a>
           <a ng-href="{{ label.getUrl() + '.ttl' }}" target="_blank" ng-click="$event.stopPropagation()">Turtle</a>
           <a ng-href="{{ label.getUrl() + '.rdf' }}" target="_blank" ng-click="$event.stopPropagation()">RDF/XML</a>
           <a ng-href="{{ label.getUrl() + '.n3'}}" target="_blank" ng-click="$event.stopPropagation()">N-Triples</a>
        </span>
    </div>

     <div class="dialog-half float" id="ls-selfexplain">
        Labeling System is a web based tool for creating controlled vocabularies using linked open data techniques.
        <a id="ls-selfexplain" style="display: inline-block;" href="#/">Impressum</a>
    </div>
</div>

<div id="enrichment-ov" class="viewerheight">
	<!-- fixed table header -->
	<div class="tableheadwrapper">
		<div class="tablehead left"><span>Broader</span></div>
		<div class="insidewrapper half">
			<div class="tablehead halfleft"><span>Descriptive</span></div>
			<div class="tablehead halfright"><span>Similar</span></div>
		</div>
	       <div class="tablehead right">
            <span>Narrower</span>
        </div>
	</div>

	<!-- table -->
	<div class="nano enrichmentswrapper enrichmentswrappermin">

    <div id="enrichments" class="nano-content">

      <!-- broader column -->
  		<div class="col left">
        <ls-label-box ng-repeat="broaderConcept in label.broader" data="broaderConcept" relation="broader" mode="viewer"></ls-label-box>

        <ls-resource-box ng-repeat="broadMatch in label.broadMatch" data="broadMatch" relation="broadMatch" mode="viewer"></ls-resource-box>

  		</div>

      <!-- middle column -->
  		<div class="insidewrapper half paddingbottom">

        <!-- descriptive -->
  			<div class="col halfleft">
          <ls-translation-box ng-repeat="translation in label.translations" data="translation" mode="viewer"></ls-translation-box>
          <ls-description-box ng-show="label.description" data="label" mode="viewer"></ls-description-box>
  			</div>

  			<!-- relations column -->
  			<div class="col halfright">

          <ls-label-box ng-repeat="relatedConcept in label.related" data="relatedConcept" relation="related" mode="viewer"></ls-label-box>
          <ls-resource-box ng-repeat="relatedMatch in label.relatedMatch" data="relatedMatch" relation="relatedMatch" mode="viewer"></ls-resource-box>
          <ls-resource-box ng-repeat="closeMatch in label.closeMatch" data="closeMatch" relation="closeMatch" mode="viewer"></ls-resource-box>
          <ls-resource-box ng-repeat="exactMatch in label.exactMatch" data="exactMatch" relation="exactMatch" mode="viewer"></ls-resource-box>
          <link-box ng-repeat="seeAlso in label.seeAlso" data="seeAlso" mode="viewer"></link-box>
  			</div>

  		</div>

  		<!-- narrower column -->
  		<div class="col right">
        <ls-label-box ng-repeat="narrowerConcept in label.narrower" data="narrowerConcept" relation="narrower" mode="viewer"></ls-label-box>
        <ls-resource-box ng-repeat="narrowMatch in label.narrowMatch" data="narrowMatch" relation="narrowMatch" mode="viewer"></ls-resource-box>
  		</div>

  	</div>
	</div>
</div>
