<h2>Enrich current label</h2>

<div id="selectedbox">
	<div class="box bigbox {{ data.type }} {{ data.quality }}" ng-click="onBoxClick()">

	  <!-- relation icon -->
	  <!-- <span class="relation" ng-bind-html="relation"></span> -->

	  <span class="thumbnail">{{ data.label }}</span>

	  <!-- type icon -->
	  <span class="type" ng-bind-html="icon" title="{{ tooltip }}"></span>

	  <span class="language">{{ data.lang }}</span>
	</div>
</div>

<div id="enrichbuttons">

  <!-- resource columns -->
  <div ng-show="type !== 'label'">
    <div class="col five leftout">
  		<button class="enrichbutton-ow" type="button" name="button" ng-click="onAddClick('broadMatch'); closeThisDialog()">
  			<span class="buttontext-ow">broad Match</span>
  		</button>
  		<p class="enrichinfo">skos:broadMatch is used to state a hierarchical mapping link between two conceptual resources in different concept schemes.</p>
  	</div>

    <div class="col five">
  		<button class="enrichbutton-ow" type="button" name="button" ng-click="onAddClick('exactMatch'); closeThisDialog()">
  			<span class="buttontext-ow">exact Match</span>
  			<span class="icon-exact icon"></span>
  		</button>
  		<p class="enrichinfo">skos:exactMatch is used to link two concepts, indicating a high degree of confidence that the concepts can be used interchangeably across a wide range of information retrieval applications. skos:exactMatch is a transitive property, and is a sub-property of skos:closeMatch.</p>
  	</div>

    <div class="col five">
  		<button class="enrichbutton-ow" type="button" name="button" ng-click="onAddClick('relatedMatch'); closeThisDialog()">
  			<span class="buttontext-ow">related Match</span>
  			<span class="icon-related icon"></span>
  		</button>
  		<p class="enrichinfo">skos:relatedMatch is used to state an associative mapping link between two conceptual resources in different concept schemes.</p>
  	</div>

    <div class="col five">
  		<button class="enrichbutton-ow" type="button" name="button" ng-click="onAddClick('closeMatch'); closeThisDialog()">
  			<span class="buttontext-ow">close Match</span>
  			<span class="icon-close icon"></span>
  		</button>
  		<p class="enrichinfo">skos:closeMatch is used to link two concepts that are sufficiently similar that they can be used interchangeably in some information retrieval applications. In order to avoid the possibility of "compound errors" when combining mappings across more than two concept schemes, skos:closeMatch is not declared to be a transitive property.</p>
  	</div>

    <div class="col five rightout">
  		<button class="enrichbutton-ow" type="button" name="button" ng-click="onAddClick('narrowMatch'); closeThisDialog()">
  			<span class="buttontext-ow">narrow Match</span>
  		</button>
  		<p class="enrichinfo">skos:narrowMatch is used to state a hierarchical mapping link between two conceptual resources in different concept schemes.</p>
  	</div>
  </div>

  <!-- label columns -->
  <div class="">
    <div class="col three leftout" ng-show="type === 'label'">
  		<button class="enrichbutton-ow" type="button" name="button" ng-click="onAddClick('broader'); closeThisDialog()">
  			<span class="buttontext-ow">broader</span>
  		</button>
  		<p class="enrichinfo">skos:broader relates a concept to a concept that is more general in meaning.</p>
  	</div>

    <div class="col three" ng-show="type === 'label'">
  		<button class="enrichbutton-ow" type="button" name="button" ng-click="onAddClick('related'); closeThisDialog()">
  			<span class="buttontext-ow">related</span>
  			<span class="icon-close icon"></span>
  		</button>
  		<p class="enrichinfo">skos:related relates a concept to a concept with which there is an associative semantic relationship.</p>
  	</div>

    <div class="col three rightout" ng-show="type === 'label'">
  		<button class="enrichbutton-ow" type="button" name="button" ng-click="onAddClick('narrower'); closeThisDialog()">
  			<span class="buttontext-ow">narrower</span>
  		</button>
  		<p class="enrichinfo">skos:narrower relates a concept to a concept that is more specific in meaning.</p>
  	</div>
  </div>

</div>

<div class="cancel" ng-click="closeThisDialog()">Cancel</div>
