<div class="dialogwrapper text">
	<div class="dialogheader">
		<h3>Add wayback link</h3>
		<div class="line-bottom"></div>
	</div>

	<div class="dialogscroll">
	<div class="nano">
	<div class="nano-content">
		<div class="dialogbox dialog-full">
			<h4>url</h4>
			<input type="text" name="name" ng-model="url" ng-disabled="validWaybackLink">
  			<button type="button" name="button" ng-click="onGenerateClick(url)" ng-disabled="validWaybackLink">get wayback link for this url</button>
		</div>
		
		
		
		

	</div>
	</div>
	</div>



	<div class="cancel" ng-click="closeThisDialog()">Cancel</div>
	<div class="apply" ng-disabled="!validWaybackLink" ng-click="onLinkAddConfirm(); closeThisDialog()" >Apply</div>
</div>


