<h2>Enrich current label</h2>

<div id="enrichbuttons">
	<div class="col five leftout">
		<button class="enrichbutton-ow" type="button" name="button">broad Match</button>
		<p>Beispieltext Das ist ein Beispieltext</p>
	</div>
	<div class="col five">
		<button class="enrichbutton-ow" type="button" name="button">exact Match</button>
		<p>Beispieltext Das ist ein Beispieltext</p>
	</div>
	<div class="col five">
		<button class="enrichbutton-ow" type="button" name="button">related Match</button>
		<p>Beispieltext Das ist ein Beispieltext</p>
	</div>
	<div class="col five">
		<button class="enrichbutton-ow" type="button" name="button">close Match</button>
		<p>Beispieltext Das ist ein Beispieltext</p>
	</div>
	<div class="col five rightout">
		<button class="enrichbutton-ow" type="button" name="button">narrow Match</button>
		<p>Beispieltext Das ist ein Beispieltext</p>
	</div>
</div>




