<div class="dialogwrapper label">
  <div class="dialogheader">
    <h3>label metadata</h3>
    <div class="line-bottom"></div>
  </div>

  <div class="dialogscroll">
  <div class="nano">
  <div class="nano-content">
    <div class="dialogbox dialog-full" ng-repeat="prefLabel in label.prefLabels | filter: {isThumbnail: true}">
     
      <h4>main term:</h4>
      <input type="text" ng-model="prefLabel.value"></input>
      
    </div>  


    <div class="line-dialog"></div>
    <div class="dialogbox dialog-full">
      <h4 ng-click="onDeleteClick(); closeThisDialog()">Delete</h4>
    </div>  

    <div class="line-dialog"></div>
    <div class="dialogbox dialog-full">
      <h4 >meta data</h4>
      <ul>
        <li>License: {{ label.license }}</li>
        <li>Created by: {{ label.creator }}</li>
        <li>Created on: {{ label.created | date: 'dd.MM.yyyy' }}</li>
        <li>Contributors:</li>
        <ul>
          <li ng-repeat="contributor in label.contributors">{{ contributor }}</li>
        </ul>
      </ul>
    </div>  

        
    

       
      


    
    
    
    
    

  </div>
  </div>
  </div>



  <div class="cancel" ng-click="closeThisDialog()">Cancel</div>
  <div class="apply" ng-click="onThumbnailPrefLabelEdit(label); closeThisDialog()">Apply</div>
</div>



