<h3>{{ detailLabel.prefLabels[0].value }}</h3>
<ul>

  <li>Beschreibung: {{ detailLabel.scopeNote.value }}</li>

  <li>Begriffsbezeichnungen:</li>
  <ul>
    <li ng-repeat="prefLabel in detailLabel.prefLabels">
      {{ prefLabel.value }} ({{ prefLabel.lang }})
      <span ng-show="prefLabel.isThumbnail">*</span>
    </li>
  </ul>

  <li ng-show="detailLabel.altLabels">alternative Begriffsbezeichnungen:</li>
  <ul>
    <li ng-repeat="prefLabel in detailLabel.altLabels">
      {{ prefLabel.value }} ({{ prefLabel.lang }})
    </li>
  </ul>

  <li>Erstellt: {{ detailLabel.created | date: 'dd.MM.yyyy' }}</li>
  <li>Erstellt von: {{ detailLabel.creator }}</li>

</ul>
