<div class="dialogwrapper text">
	<div class="dialogheader">
		<h3 ng-bind="text"></h3>
		<p class="typeinformation">Preferred term</p>
		<div class="line-bottom"></div>
	</div>

	<div class="dialogscroll">
	<div class="nano">
	<div class="nano-content">
		<div class="dialogbox dialog-full">
			<h4>Edit</h4>
			<input ng-model="newValue" ng-init="newValue = data.value"></input>
		</div>


		<div class="line-dialog"></div>
		<div class="dialogbox dialog-full">
      <!-- prevent thumbnail label from being deleted -->
      <confirm-button on-confirm="onDeleteClick(); closeThisDialog()"></confirm-button>
		</div>


	</div>
	</div>
	</div>



	<div class="cancel" ng-click="closeThisDialog()">Cancel</div>
	<div class="apply" ng-click="updateTerm('prefLabel', newValue, data.value); closeThisDialog()" ng-class="{'inactive': newValue === text}">Apply</div>
</div>
