<div class="dialogwrapper {{cssClass}}">
	<div class="dialogheader">
		<h3 ng-bind="box.resource.label"></h3>

		<p class="typeinformation">
      {{ box.resource.type }} Concept -
      <span class="loudlink" ng-click="openResource(box.resource)">open in new tab</span>
    </p>

		<div class="line-bottom"></div>
	</div>
	<div class="dialogscroll">
	<div class="nano">
	<div class="nano-content">
		<div class="dialogbox dialog-full" ng-hide="!box.resource.description && !box.resource.broaderTerms && !box.resource.narrowerTerms">
			<div class="dialog-half col">
				<span class="italic">Description</span><br>
        {{ box.resource.description }}
			</div>
			<div class="dialog-quarter col">
				<span class="italic">Broader</span><br>
				<ul class="hierarchie">
					<li ng-repeat="term in box.resource.broaderTerms" ng-bind="term.label"></li>
				</ul>
			</div>
			<div class="dialog-quarter col">
				<span class="italic">Narrower</span><br>
				<ul class="hierarchie">
					<li ng-repeat="term in box.resource.narrowerTerms" ng-bind="term.label"></li>
				</ul>
			</div>
		</div>
		<div class="line-dialog"></div>
		<h4>Connection</h4>
		<div class="enrichbuttons enrichbuttons-min">

		  <!-- resource columns -->
		  <div ng-init="newRelation = box.relation">
		    <div class="col five leftout">
		  		<button class="enrichbutton-ow" type="button" name="button" ng-click="newRelation = 'broadMatch'" ng-class="{'selectedbutton': newRelation === 'broadMatch'}">
		  			<span class="buttontext-ow">broad Match</span>
		  		</button>
		  		<p class="enrichinfo" ng-bind="tooltips.comments.broadMatch"></p>
		  	</div>

		    <div class="col five">
		  		<button class="enrichbutton-ow" type="button" name="button" ng-click="newRelation = 'exactMatch'" ng-class="{'selectedbutton': newRelation === 'exactMatch'}">
		  			<span class="buttontext-ow">exact Match</span>
		  			<span class="icon-exact icon"></span>
		  		</button>
		  		<p class="enrichinfo" ng-bind="tooltips.comments.exactMatch"></p>
		  	</div>

		    <div class="col five">
		  		<button class="enrichbutton-ow" type="button" name="button" ng-click="newRelation = 'relatedMatch'" ng-class="{'selectedbutton': newRelation === 'relatedMatch'}">
		  			<span class="buttontext-ow">related Match</span>
		  			<span class="icon-related icon"></span>
		  		</button>
		  		<p class="enrichinfo" ng-bind="tooltips.comments.relatedMatch"></p>
		  	</div>

		    <div class="col five">
		  		<button class="enrichbutton-ow" type="button" name="button" ng-click="newRelation = 'closeMatch'" ng-class="{'selectedbutton': newRelation === 'closeMatch'}">
		  			<span class="buttontext-ow">close Match</span>
		  			<span class="icon-close icon"></span>
		  		</button>
		  		<p class="enrichinfo" ng-bind="tooltips.comments.closeMatch"></p>
		  	</div>

		    <div class="col five rightout">
		  		<button class="enrichbutton-ow" type="button" name="button" ng-click="newRelation = 'narrowMatch'" ng-class="{'selectedbutton': newRelation === 'narrowMatch'}">
		  			<span class="buttontext-ow">narrow Match</span>
		  		</button>
		  		<p class="enrichinfo" ng-bind="tooltips.comments.narrowMatch"></p>
		  	</div>
		  </div>


		</div>
		<div class="line-dialog"></div>
		<div class="dialogbox dialog-full">
      <confirm-button on-confirm="onDeleteClick(); closeThisDialog()"></confirm-button>
		</div>
		<!-- <div class="line-dialog"></div>
		<h4>meta data </h4> -->

	</div>
	</div>
	</div>

	<div class="cancel" ng-click="closeThisDialog()">Cancel</div>
	<div class="apply" ng-click="changeResourceRelation(newRelation, box.relation); closeThisDialog()" ng-class="{'inactive': newRelation === box.relation}">Apply</div>
</div>
