<div class="dialogwrapper text">
	<div class="dialogheader">
		<h3>Description</h3>
		<p class="typeinformation">Describe current label with a few, clear words.</p>
		<div class="line-bottom"></div>
	</div>

	<div class="dialogscroll">
	<div class="nano">
	<div class="nano-content">
		<div class="dialogbox dialog-full">
			<textarea ng-model="newValue" ng-init="newValue = text"></textarea>
		</div>


		<div class="line-dialog"></div>
		<div class="dialogbox dialog-full">
			<h4 ng-click="onDeleteClick(); closeThisDialog()">Delete</h4>
		</div>


	</div>
	</div>
	</div>

	<div class="cancel" ng-click="closeThisDialog()">Cancel</div>
	<div class="apply" ng-click="updateDescription(newValue); closeThisDialog()" ng-class="{'inactive': newValue === text}">Apply</div>
</div>
