<div class="dialogwrapper text">
	<div class="dialogheader">
		<h3>Description</h3>
		<p class="typeinformation">{{tooltips.explainations.scopenote}}</p>
		<div class="line-dialog"></div>
	</div>

	<div class="dialogscroll">
	<div class="nano">
	<div class="nano-content">
		<div class="dialogbox dialog-full">
			<h4>Edit</h4>
			<textarea ng-model="newValue" ng-init="newValue = text"></textarea>
		</div>


		<div class="line-dialog"></div>
		<div class="dialogbox dialog-full">
      <confirm-button on-confirm="onDeleteClick(); closeThisDialog()"></confirm-button>
		</div>


	</div>
	</div>
	</div>

	<div class="cancel" ng-click="closeThisDialog()">Cancel</div>
	<div class="apply" ng-click="updateDescription(newValue); closeThisDialog()" ng-disabled="newValue === text" ng-class="{'inactive': newValue === text}">Apply</div>
</div>
