<div class="dialogwrapper getty">
	<div class="dialogheader">
		<h3>EXTERNAL RESOURCE: {{ box.resource.label }}</h3>
		<p class="typeinformation">Getty Source - <span ng-click="openResource()">open in new tab</span></p>
		<div class="line-bottom"></div>
	</div>
	<div class="dialogscroll">
	<div class="nano">
	<div class="nano-content">
		<div class="dialogbox dialog-full">
			<div class="dialog-half col">
				<span class="italic">Description</span><br>
        {{ box.resource.description }}
			</div>
			<div class="dialog-quarter col">
				<span class="italic">Broader</span><br>
				<ul>
					<li ng-repeat="term in box.resource.broaderTerms">{{ term.label }}</li>
				</ul>
			</div>
			<div class="dialog-quarter col">
				<span class="italic">Narrower</span><br>
				<ul>
					<li ng-repeat="term in box.resource.narrowerTerms">{{ term.label }}</li>
				</ul>
			</div>
		</div>
		<div class="line-dialog"></div>
		<h4>Connection</h4>
		<div class="enrichbuttons enrichbuttons-min">

		  <!-- resource columns -->
		  <div ng-init="newRelation = box.relation">
		    <div class="col five leftout">
		  		<button class="enrichbutton-ow" type="button" name="button" ng-click="newRelation = 'broadMatch'" ng-class="{'selectedbutton': newRelation === 'broadMatch'}">
		  			<span class="buttontext-ow">broad Match</span>
		  		</button>
		  		<p class="enrichinfo">skos:broadMatch is used to state a hierarchical mapping link between two conceptual resources in different concept schemes.</p>
		  	</div>

		    <div class="col five">
		  		<button class="enrichbutton-ow" type="button" name="button" ng-click="newRelation = 'exactMatch'" ng-class="{'selectedbutton': newRelation === 'exactMatch'}">
		  			<span class="buttontext-ow">exact Match</span>
		  			<span class="icon-exact icon"></span>
		  		</button>
		  		<p class="enrichinfo">skos:exactMatch is used to link two concepts, indicating a high degree of confidence that the concepts can be used interchangeably across a wide range of information retrieval applications.</p>
		  	</div>

		    <div class="col five">
		  		<button class="enrichbutton-ow" type="button" name="button" ng-click="newRelation = 'relatedMatch'" ng-class="{'selectedbutton': newRelation === 'relatedMatch'}">
		  			<span class="buttontext-ow">related Match</span>
		  			<span class="icon-related icon"></span>
		  		</button>
		  		<p class="enrichinfo">skos:relatedMatch is used to state an associative mapping link between two conceptual resources in different concept schemes.</p>
		  	</div>

		    <div class="col five">
		  		<button class="enrichbutton-ow" type="button" name="button" ng-click="newRelation = 'closeMatch'" ng-class="{'selectedbutton': newRelation === 'closeMatch'}">
		  			<span class="buttontext-ow">close Match</span>
		  			<span class="icon-close icon"></span>
		  		</button>
		  		<p class="enrichinfo">skos:closeMatch is used to link two concepts that are sufficiently similar that they can be used interchangeably in some information retrieval applications.</p>
		  	</div>

		    <div class="col five rightout">
		  		<button class="enrichbutton-ow" type="button" name="button" ng-click="newRelation = 'narrowMatch'" ng-class="{'selectedbutton': newRelation === 'narrowMatch'}">
		  			<span class="buttontext-ow">narrow Match</span>
		  		</button>
		  		<p class="enrichinfo">skos:narrowMatch is used to state a hierarchical mapping link between two conceptual resources in different concept schemes.</p>
		  	</div>
		  </div>


		</div>
		<div class="line-dialog"></div>
		<div class="dialogbox dialog-full">
			<h4 ng-click="onDeleteClick(); closeThisDialog()">Delete</h4>
		</div>
		<div class="line-dialog"></div>
		<h4>meta data </h4>

	</div>
	</div>
	</div>



	<div class="cancel" ng-click="closeThisDialog()">Cancel</div>
	<div class="apply" ng-click="changeResourceRelation(newRelation, box.relation); closeThisDialog()" ng-class="{'inactive': newRelation === box.relation}">Apply</div>
</div>
