<div class="dialogwrapper text">
	<div class="dialogheader">
		<h3 ng-bind="data.value"></h3>
		<p class="typeinformation">Alternative label</p>
		<div class="line-bottom"></div>
	</div>

	<div class="dialogscroll">
	<div class="nano">
	<div class="nano-content">
		<div class="dialogbox dialog-full">
			<h4>Edit</h4>
			<input ng-model="newValue" ng-init="newValue = data.value"></input>
		</div>


		<div class="line-dialog"></div>
		<div class="dialogbox dialog-full">
      <ls-confirm-button on-confirm="onDeleteClick(); closeThisDialog()"></ls-confirm-button>
		</div>


	</div>
	</div>
	</div>



	<div class="cancel" ng-click="closeThisDialog()">Cancel</div>
	<div class="apply" ng-click="updateLabel(newValue); closeThisDialog()" ng-class="{'inactive': newValue === data.value}">Apply</div>
</div>
