<h1>vocab metadata</h1>

<ul>
  <li>releaseType: {{ vocabulary.releaseType }}</li>
  <li>statusType: {{ vocabulary.statusType }}</li>
  <li>title: {{ vocabulary.title.value }}</li>
  <li>language: {{ vocabulary.title.lang }}</li>
  <li>description: {{ vocabulary.description.value }}</li>
  <li>license: {{ vocabulary.license }}</li>
  <li>creator: {{ vocabulary.creator }}</li>
  <li>created: {{ vocabulary.created }}</li>

  <li>Referenzthesauri:</li>
  <ul>
    <li ng-repeat="thesaurus in thesauri">{{ thesaurus.name }}</li>
    <!-- <li ng-show="showSelection">
      <select ng-model="choice" ng-change="onSelectionChange(choice); showSelection = false">
        <option value="" disabled selected>Select thesaurus</option>
        <option ng-repeat="thesaurus in thesauri">{{ thesaurus.name }}</option>
      </select>
    </li> -->
  </ul>

</ul>


<!-- <button type="button" name="button" ng-click="closeThisDialog()">Confirm</button> -->

<button type="button" name="button" ng-click="onVocabDeleteClick(); closeThisDialog()" ng-show="vocabulary.releaseType === 'draft'">Delete</button>
<button type="button" name="button" ng-click="onVocabDeprecatedClick(); closeThisDialog()" ng-show="vocabulary.releaseType === 'public'">Deprecated</button>

<button type="button" name="button" ng-click="closeThisDialog()">Cancel</button>
