<div class="dialogwrapper label">
  <div class="dialogheader">
    <h3 ng-bind="vocabulary.title.value"></h3>
    <p class="typeinformation"> metadata/settings</p>
    <div class="line-bottom line"></div>
  </div>

  <div class="dialogscroll">
    <div class="nano">
      <div class="nano-content">

        <div class="dialogbox dialog-full">
          <h4>edit</h4>
          <input type="text" ng-model="newValue">
        </div>

         <div>
          releaseType: {{ vocabulary.releaseType }}
          <button type="button" ng-show="vocabulary.releaseType === 'draft'" ng-click="onPublicClick(vocabulary)">make public</button>
        </div>

        <div class="line-dialog line"></div>
        <div class="dialogbox dialog-full">
          <h4>description</h4>
          <textarea rows="8" cols="40" ng-model="newDescription"></textarea>
        </div>

        <div class="line-dialog line"></div>
        <div class="dialogbox dialog-full">
          <h4 >meta data</h4>
          <span class="listtype">language</span>
          <span class="listcontent" ng-bind="vocabulary.title.lang"></span>

          <span class="listtype">license</span>
          <span class="listcontent"><a ng-href="{{vocabulary.license}}" target="_blank">CC BY</a></span>

          <span class="listtype">creator</span>
          <span class="listcontent" ng-bind="vocabulary.creator"></span>

          <span class="listtype">creation date</span>
          <span class="listcontent" ng-bind="vocabulary.created"></span>

        </div>

        <div class="line-dialog line"></div>
        <div class="dialogbox dialog-full">
          <h4>Referenzthesauri</h4>
          <div class="thesaurus" ng-repeat="thesaurus in thesauri" ng-if="thesaurus.name.indexOf('this.') < 0" ng-class="{'checked': thesaurus.checked}">

            <checkbox ng-model="thesaurus.checked" on-check="onCheckChange()" ng-class="{'inactive': thesaurus.description === 'this vocabulary'}"></checkbox>

            <h5 ng-bind="thesaurus.name"></h5>
            <p ng-bind="thesaurus.description"></p>
          </div>
        </div>


        <!-- delete draft vocab (not allowed to delete public vocab) -->
        <ls-confirm-button on-confirm="deleteVocab(); closeThisDialog()" ng-show="vocabulary.releaseType === 'draft'"></ls-confirm-button>

      </div><!-- end nano-content -->
    </div><!-- end nano -->
  </div><!-- end dialog scroll -->


  <!-- apply -->
  <button type="button" class="apply" ng-click="onApplyChangesClick(vocabulary, newValue, newDescription); updateVocabThesauri(); closeThisDialog()" ng-class="{'inactive': newValue === vocabulary.title.value && newDescription === vocabulary.description.value && !checkedSomething}">Apply</button>

  <!-- cancel -->
  <button type="button" class="cancel" ng-click="closeThisDialog()">Cancel</button>
</div>
