<div class="dialogwrapper text">
	<div class="dialogheader">
		<h3>Add wayback link</h3>
		<p class="typeinformation">{{tooltips.explaination.wayback}}</p>
		<div class="line-bottom line"></div>
	</div>

	<div class="dialogscroll">
    	<div class="nano">
        	<div class="nano-content">
                <div class="dialogbox dialog-full">
        			<h4>url</h4>
        			<input type="text" placeholder="https://www.example.de" ng-model="$ctrl.url" ng-disabled="$ctrl.validUri || $ctrl.processing" ng-class="{'inactive': $ctrl.validUri || $ctrl.processing}" class="buttonfollow">

                    <button class="deletebutton" type="button" ng-click="$ctrl.verifyLink($ctrl.url)" ng-class="{'inactive': !$ctrl.url || $ctrl.validUri || $ctrl.processing}">verify link</button>
        		</div>

                <div class="line-dialog line"></div>

                <div class="dialogbox dialog-full">
           	        <p class="confirmed">{{ $ctrl.validUri }}</hp>
                </div>
            </div><!-- nano-content -->
    	</div><!-- nano -->
	</div><!-- dialogscroll -->


	<div class="apply" ng-class="{'inactive': !$ctrl.validUri}" ng-click="$ctrl.add($ctrl.validUri); closeThisDialog()">Add</div>
</div>
