<div class="dialogwrapper text">
	<div class="dialogheader">
		<h3>Add wayback link</h3>
		<div class="line-bottom line"></div>
	</div>

	<div class="dialogscroll">
	<div class="nano">
	<div class="nano-content">
		<div class="dialogbox dialog-full">
			<h4>url</h4>
			<input type="text" placeholder="https://www.example.de" ng-model="$ctrl.url" ng-disabled="$ctrl.validUri || $ctrl.processing" ng-class="{'inactive': $ctrl.validUri || $ctrl.processing}">

      <button class="deletebutton" type="button" ng-click="$ctrl.verifyLink($ctrl.url)" ng-class="{'inactive': !$ctrl.url || $ctrl.validUri || $ctrl.processing}">verify link</button>

		</div>

    <div class="dialogbox dialog-full">{{ $ctrl.validUri }}</div>


	</div>
	</div>
	</div>


	<div class="cancel" ng-click="closeThisDialog()">Cancel</div>
	<div class="apply" ng-class="{'inactive': !$ctrl.validUri}" ng-click="$ctrl.onConfirm({$uri: validUri}); closeThisDialog()">Apply</div>
</div>
