<span ng-class="{'micro': 'micropreview', 'mini': 'minipreview'}[size]">

  <!-- broader -->
  <span ng-class="{'micro': 'microcol', 'mini': 'minicol'}[size]">
    <span ng-repeat="box in miniBoxes | filter: broaderFilter" class="{{box.type}}" ng-class="{'micro': 'microbox', 'mini': 'minibox'}[size]"></span>
  </span>

  <!-- text -->
  <span ng-class="{'micro': 'microcol', 'mini': 'minicol'}[size]">
    <span ng-repeat="box in miniBoxes | filter: attributeFilter" class="{{box.type}}" ng-class="{'micro': 'microbox', 'mini': 'minibox'}[size]"></span>
  </span>

  <!-- relations -->
  <span ng-class="{'micro': 'microcol', 'mini': 'minicol'}[size]">
    <span ng-repeat="box in miniBoxes | filter: relatedFilter" class="{{box.type}}" ng-class="{'micro': 'microbox', 'mini': 'minibox'}[size]"></span>
  </span>

  <!-- narrower -->
  <span ng-class="{'micro': 'microcol', 'mini': 'minicol'}[size]">
    <span ng-repeat="box in miniBoxes | filter: narrowerFilter" class="{{box.type}}" ng-class="{'micro': 'microbox', 'mini': 'minibox'}[size]"></span>
  </span>

</span>
