<div class="dialogwrapper" ng-class="{ 'label': $ctrl.data.releaseType === 'public', 'draft': $ctrl.data.releaseType === 'draft' }">
    <div class="dialogheader">
        <h3 ng-bind="$ctrl.data.title"></h3>
        <p class="typeinformation">vocabulary metadata/settings<br>{{ $ctrl.data.releaseType }}</p>
        <div class="line-bottom line"></div>
    </div>

    <div class="dialogscroll nocontrol">
        <div class="nano">
            <div class="nano-content">

                <div class="dialogbox dialog-full">
                    <h4 ng-class="{'inactive': $ctrl.data.releaseType === 'public'}">Title</h4>
                    <input type="text" maxlength="{{ $ctrl.maxTitleLength }}" ng-model="$ctrl.newTitle" ng-disabled="$ctrl.data.releaseType === 'public'" ng-class="{'inactive': $ctrl.data.releaseType === 'public'}">
                </div>


                <div class="line-dialog line"></div>
                <div class="dialogbox dialog-full">
                    <h4 ng-class="{'inactive': $ctrl.data.releaseType === 'public'}">Description</h4>
                    <textarea rows="8" cols="40" ng-model="$ctrl.newDescription" ng-paste="onDescriptionKeyPress($event, $ctrl.data.description)" ng-keypress="onDescriptionKeyPress($event, $ctrl.data.description)" ng-class="{'inactive': $ctrl.data.releaseType === 'public'}"></textarea>

                </div>

                <div class="line-dialog line"></div>

                <!-- license -->
                <div class="dialogbox dialog-full">
                    <h4 ng-class="{'inactive': $ctrl.data.releaseType === 'public'}">License</h4>
                    <div class="thesaurus" ng-repeat="license in $ctrl.licenses" ng-class="{'checked': license.link === $ctrl.data.license, 'inactive': $ctrl.data.releaseType === 'public'}">

                        <ls-radiobox checked="license.link === $ctrl.data.license" on-check="$ctrl.saveLicense(license)"></ls-radiobox>

                        <h5 ng-bind="license.short"></h5>
                        <p>
                            {{ license.value }}
                            <a ng-href="{{ license.link }}" target="_blank">more info</a>
                        </p>

                    </div>
                </div>

                <div class="line-dialog line"></div>

                <div class="dialogbox dialog-full">
                    <h4 ng-class="{'inactive': $ctrl.data.releaseType === 'public'}">Functions</h4>
                    <!-- delete draft vocab (not allowed to delete public vocab) -->
                    <ls-confirm-button on-confirm="deleteVocab(); closeThisDialog()" text="Delete Vocabulary" inactive="$ctrl.data.releaseType === 'public'"></ls-confirm-button>

                    <!-- show publish -->
                    <ls-confirm-button on-confirm="publish()" text="Publish Vocababulary" confirm-text="{{tooltips.explaination.publication}}" icon="icon-public" ng-show="$ctrl.data.releaseType === 'draft'" size="large"></ls-confirm-button>

                    <!-- show when already published -->
                    <ls-confirm-button text="Published" icon="icon-public" inactive="true" ng-show="$ctrl.data.releaseType === 'public'"></ls-confirm-button>

                </div>

                <div class="line-dialog line"></div>

                <!-- downloads -->
                <div class="dialogbox dialog-full">
                    <h4>RDF Download</h4>
                    <span class="downloadlist">
                        <a ng-href="{{ $ctrl.data.getUrl() + '.skos' }}" target="_blank" ng-click="$event.stopPropagation()">SKOS</a>
                    </span>
                </div>

                <div class="line-dialog line"></div>

                <!-- thesauri -->
                <div class="dialogbox dialog-full">
                    <h4 id="thesauri">Reference thesauri</h4>
                    <div class="thesaurus" ng-repeat="thesaurus in thesauri | orderBy: ['name']" ng-class="{'checked': thesaurus.checked}" ng-show="thesaurus.name.indexOf('this.') === -1">

                        <div class="checkboxwrapper">
                            <checkbox ng-model="thesaurus" on-check="$ctrl.saveThesauri()"></checkbox>
                        </div>

                        <h5 ng-bind="thesaurus.name"></h5>
                        <p ng-bind="thesaurus.description"></p>
                    </div>

                </div>

                <div class="line-dialog line"></div>

                <!-- vocabulary -->
                <div class="dialogbox dialog-full">
                    <h4>Reference vocabulary</h4>
                    <!-- <div ng-bind="enrichmentVocabID"></div> -->
                    <div class="thesaurus thesaurussmall" ng-repeat="vocab in vocabularies | orderBy: 'title'" ng-class="{'checked': vocab.id === $ctrl.referenceVocabID}">
                        <ls-radiobox checked="vocab.id === $ctrl.referenceVocabID" on-check="$ctrl.saveReferenceVocab(vocab.id)"></ls-radiobox>

                        <h5>
                            {{ vocab.title }}
                            <span ng-if="$ctrl.data.id === vocab.id">(current)</span>
                        </h5>
                        <p class="dialog-half" ng-bind="vocab.description"></p>

                        <a class="floatright" ng-href="{{ vocab.creatorInfo.orcid }}" target='_blank' ng-if="vocab.creator !== user.id">
                            {{ vocab.getCreatorFullName() }}
                        </a>

                    </div>
                </div>

            </div><!-- end nano-content -->
        </div><!-- end nano -->
    </div><!-- end dialog scroll -->
</div>
