<div class="dialogwrapper text">

	<div class="dialogheader">
		<h3>Add translation</h3>
	</div>

	<div class="dialogscroll">
		<div class="nano">
			<div class="nano-content">
				<div class="dialogbox dialog-full">
					<input type="text" placeholder="translation" ng-model="newTranslation.value">
				</div>

				<div class="line-dialog line"></div>

				<div class="dialogbox dialog-full">
					<h4>Language</h4>
					<select ng-model="newTranslation.lang">
						<option value="" disabled selected>Select language</option>
						<option ng-repeat="language in languages | orderBy: 'name'" value="{{language.value}}" ng-bind="language.name" ng-disabled="language.used"></option>
					</select>
				</div>

			</div>
		</div>
	</div>

	<div class="apply" ng-click="$ctrl.addTranslation(); closeThisDialog()" ng-class="{'inactive': !newTranslation.value || !newTranslation.lang}">Add</div>
</div>
