<div class="dialogwrapper wayback low">
	<div class="dialogheader">

    <h3 ng-bind="resource.label"></h3>
	<p class="typeinformation">link to Internet Archive</p>
	<p class="typeinformation bottomleft"><span class="loudlink" ng-click="openResource()">open in new tab</span></p>

    <div class="line-dialog line"></div>
	</div>

  <div class="dialogscroll">
	  <div class="nano">
	    <div class="nano-content">
    		<div class="dialogbox dialog-full">
					<h4>Functions</h4>
          <ls-confirm-button text="Delete Connection" on-confirm="onDeleteClick(); closeThisDialog()"></ls-confirm-button>
    		</div>
	    </div>
	  </div>
	</div>

</div>
