<div class="bigboxwrapper {{ concept.releaseType }}">

  <div class="box bigbox label listbox smallheight" ng-click="onClick(concept.id)">

    <span class="thumbnail">

      <button class="showadditionalcontent" ng-click="toggleExtension(concept.id); $event.stopPropagation()" ng-disabled="!$ctrl.hasMore()">
        <span class="showmore" ng-show="!showMore && $ctrl.hasMore()">
          <span class="icon-breadcrumb"></span>
        </span>
        <span class="showmore" ng-show="showMore">
          <span class="icon-dropdown"></span>
        </span>
      </button>

       <mini-preview label="concept" size="micro"></mini-preview>
       {{ concept.thumbnail }}
    </span>

    <ls-edit-label-button ng-hide="mode ==='viewer'" data="concept" ng-click="$event.stopPropagation()"></ls-edit-label-button>

     <!--<span class="bigboxdate"><span class="icon-time"></span>{{ concept.lastModified | date:"dd.MM.yyyy"}}</span>-->

  </div>

  <!-- extension that open on button click -->
  <div ng-if="showMore" class="box boxextension bigbox label high" ng-click="onClick(concept.id)">
    <span class="line-ext"></span>
    <span class="note-ext">
      <span class="italic smalltype" ng-show="concept.description">Description</span>
      {{ concept.description }}
    </span>

    <!-- related -->
    <span class="note-ext smallsection"><span class="italic smalltype" ng-show="concept.hasRelated()">related</span>
        <ul class="hierarchie">
          <li ng-repeat="relatedConcept in conceptDetails.related | orderBy: 'thumbnail'">
            <span class="icon-arrow icon"></span>
            <span class="float smalltype mappingstext">{{ relatedConcept.thumbnail }}</span>
          </li>
          <li ng-repeat="relatedMatch in conceptDetails.relatedMatches | orderBy: 'label'">
            <span class="icon-arrow icon"></span>
            <span class="float smalltype mappingstext">{{ relatedMatch.label }}</span>
          </li>
          <li ng-repeat="closeMatch in conceptDetails.closeMatches | orderBy: 'label'">
            <span class="icon-close icon"></span>
            <span class="float smalltype mappingstext">{{ closeMatch.label }}</span>
          </li>
          <li ng-repeat="exactMatch in conceptDetails.exactMatches | orderBy: 'label'">
            <span class="icon-exact icon"></span>
            <span class="float smalltype mappingstext">{{ exactMatch.label }}</span>
          </li>
        </ul>
    </span>

    <!-- broader -->
    <span class="note-ext smallsection"><span class="italic smalltype" ng-show="concept.hasBroader()">broader</span>
      <ul class="hierarchie">
        <li ng-repeat="broaderConcept in conceptDetails.broader | orderBy: 'thumbnail'">{{ broaderConcept.thumbnail }}</li>
        <li ng-repeat="broadMatch in conceptDetails.broadMatches | orderBy: 'label'">{{ broadMatch.label }}</li>
      </ul>
    </span>

    <!-- narrower -->
    <span class="note-ext smallsection"><span class="italic smalltype" ng-show="concept.hasNarrower()">narrower</span>
      <ul class="hierarchie">
        <li ng-repeat="narrowerConcept in conceptDetails.narrower | orderBy: 'thumbnail'">{{ narrowerConcept.thumbnail }}</li>
        <li ng-repeat="narrowMatch in conceptDetails.narrowMatches | orderBy: 'label'">{{ narrowMatch.label }}</li>
      </ul>
    </span>

  </div>

</div>
