<div id="header" class="box full">

  <breadcrumbs></breadcrumbs>

  <h1 ng-repeat="prefLabel in label.prefLabels | filter: {isThumbnail: true}" ng-click="onLabelHeadingClick()" ng-bind="prefLabel.value"></h1>
	<span ng-repeat="prefLabel in label.prefLabels | filter: {isThumbnail: true}" class="language" ng-bind="prefLabel.lang"></span>

</div>

<div id="enrichment-ov" ng-class="{ 'fullheight': !showEnrichments }">
	<!-- fixed table header -->
	<div class="tableheadwrapper">
		<div class="tablehead left"><span>Broader</span></div>
		<div class="insidewrapper half">
			<div class="tablehead halfleft"><span>Descriptive</span></div>
			<div class="tablehead halfright"><span>Similar</span></div>
		</div>
		<div class="tablehead right"><span>Narrower</span></div>
	</div>

	<!-- table -->
	<div class="nano enrichmentswrapper">
  	<div id="enrichments" class="nano-content">

      <!-- broader column -->
  		<div class="col left">
        <concept-box ng-repeat="broaderConcept in label.broader" data="broaderConcept" relation="broader"></concept-box>
        <resource-box ng-repeat="broadMatch in label.broadMatch" data="broadMatch" relation="broadMatch"></resource-box>
  		</div>

      <!-- middle column -->
  		<div class="insidewrapper half paddingbottom">

        <!-- text column -->
  			<div class="col halfleft">

          <!-- gray boxes with prefLabels, altLabels and description -->
          <pref-label-box ng-repeat="prefLabel in label.prefLabels" data="prefLabel"></pref-label-box>
          <alt-label-box ng-repeat="altLabel in label.altLabels" data="altLabel"></alt-label-box>
          <description-box data="label.scopeNote" ng-show="label.scopeNote"></description-box>

  			</div>

  			<!-- relations column -->
  			<div class="col halfright">
          <concept-box ng-repeat="relatedConcept in label.related" data="relatedConcept" relation="related"></concept-box>
          <resource-box ng-repeat="relatedMatch in label.relatedMatch" data="relatedMatch" relation="relatedMatch"></resource-box>
          <resource-box ng-repeat="closeMatch in label.closeMatch" data="closeMatch" relation="closeMatch"></resource-box>
          <resource-box ng-repeat="exactMatch in label.exactMatch" data="exactMatch" relation="exactMatch"></resource-box>
          <link-box ng-repeat="seeAlso in label.seeAlso" data="seeAlso"></link-box>
  			</div>

  		</div>

  		<!-- narrower column -->
  		<div class="col right">
        <concept-box ng-repeat="narrowerConcept in label.narrower" data="narrowerConcept" relation="narrower"></concept-box>
        <resource-box ng-repeat="narrowMatch in label.narrowMatch" data="narrowMatch" relation="narrowMatch"></resource-box>
  		</div>

  	</div>
	</div>
</div>

<div id="enrichment-src" ng-show="showEnrichments">
	<div id="separator">
		<h1>Enrich</h1>
		<div id="enrichmentsearch" class="threequarter">
			<span class="icon-search icon"></span>

      <input type="text" placeholder="Search in Thesauri" ng-model="searchValue"></input>

      <button type="button" name="button" ng-click="onSearchClick(); searching = true" ng-disabled="!searchValue" ng-init="searching = false">search</button>

      <span>(tab) own concepts</span>

      <button class="hideenrichment pointer" type="button" name="button" ng-click="hideEnrichmentBrowser()">
  			<span class="icon-hide"></span>
  		</button>
		</div>

	</div>

  <div class="col left">

    <button class="enrichbutton" ng-click="onAddPrefLabel()">
			<span class="buttontext">Add preferred label</span>
			<span class="buttonicon"><span class="icon-preflabel"></span></span>
		</button>

    <button class="enrichbutton" ng-click="onAddAltLabel()">
			<span class="buttontext">Add alternative label</span>
			<span class="buttonicon"><span class="icon-altlabel"></span></span>
		</button>

    <button class="enrichbutton" ng-click="onAddDescription()" ng-class="{'inactive': label.scopeNote}" ng-disabled="label.scopeNote">
			<span class="buttontext">Add description</span>
			<span class="buttonicon"><span class="icon-note"></span></span>
		</button>

    <button class="enrichbutton" ng-click="onAddLink()">
			<span class="buttontext">Add wayback link</span>
			<span class="buttonicon"></span>
		</button>

	</div>

	<div class="col threequarter">
		<div id="enrichmentbrowser" class="nano">
		<div class="nano-content">

      <!-- placeholder when not searching -->
      <span class="noresult" ng-show="!searching && !resultBoxes">Add enrichment sources by searching</span>

      <!-- placeholder when searching -->
      <span class="noresult" ng-show="searching && !resultBoxes">Searching ...</span>

      <search-result-box ng-repeat="box in resultBoxes | filter: resultFilter | orderBy: ['quality', 'type']" action="loadBoxes()"></search-result-box>
      <p>
        {{ results.length }}
      </p>

		</div>
		</div>
	</div>

</div>
<div id="enrichment-src-min" ng-show="!showEnrichments" ng-click="showEnrichmentBrowser()"></div>
