<breadcrumbs></breadcrumbs>

<h1 ng-init="getLabel()">label: {{ label.prefLabel[0] }}</h1>

<ul>
  <li>note: {{ label.note }}</li>
  <li>broader: {{ label.broadMatch }}</li>
  <li>narrower: {{ label.narrowMatch }}</li>
</ul>

<!-- search repositories -->
<input type="text" name="search" value="">
<button type="button" name="button" ng-click="searchInRepositories()">search in repositories</button>
<ul>
  <li ng-repeat="result in searchResults">
    {{ result.prefLabel }}
    <button type="button" name="button" ng-click="onNarrowerClick(result.prefLabel)">narrower</button>
    <button type="button" name="button" ng-click="onBroaderClick(result.prefLabel)">broader</button>
  </li>
</ul>
