<div id="header" class="box full">
<div class="box small" type="button" name="button" ng-click="onLogoutClick()">logout</div>

<h1>User: {{ user.name }}</h1>
</div>

<div class="separatorsmall">

	<div id="filtersearch">
    		<input type="text" name="search" value="search" ng-model="vocabFilter" placeholder="filter">
	</div>
</div>

<div id="listwrapper">
	<div class="nano">

    <div id="boxcontainer" class="nano-content voc-box">
		<div class="box vocabulary high label" ng-repeat="vocab in vocabularies | filter: vocabFilter" ng-click="onVocabClick(vocab.id)">
      <div ng-bind="vocab.title.value"></div>
      <div ng-bind="vocab.releaseType"></div>
      <div ng-bind-template="Description: {{ vocab.description.value }}"></div>
      <div ng-bind-template="Created by {{ vocab.creator }} on {{ vocab.created | date: 'dd.MM.yyyy' }}"></div>
      <div ng-bind-template="license: {{ vocab.license }}"></div>

		</div>
	</div>
	</div>
</div>

<span type="button" class="plusposition" ng-click="onCreateClick()">+</span>
