<!-- Labeling System Prototype -->


<div id="header" class="box full">

  <breadcrumbs></breadcrumbs>

	<span class="icon-label"></span>
	<span class="language">{{ prefLabel.lang.split("-")[0] }}</span>
</div>

<div id="enrichment-ov" ng-class="fullheight">
	<!-- fixed table header -->
	<div class="tableheadwrapper">
		<div class="tablehead left"><span>Broader</span></div>
		<div class="insidewrapper half">
			<div class="tablehead halfleft"><span>Descriptive</span></div>
			<div class="tablehead halfright"><span>Similar</span></div>
		</div>
		<div class="tablehead right"><span>Narrower</span></div>
	</div>

	<!-- table -->
	<div class="nano enrichmentswrapper">
  	<div id="enrichments" class="nano-content">

      <!-- broader column -->
  		<div class="col left">
        <small-box ng-repeat="box in boxes | filter: broaderFilter" ng-model="box"></small-box>
  		</div>

      <!-- middle column -->
  		<div class="insidewrapper half paddingbottom">

        <!-- text column -->
  			<div class="col halfleft">
          <small-box ng-repeat="box in boxes | filter: attributeFilter" ng-model="box"></small-box>
  			</div>

  			<!-- relations column -->
  			<div class="col halfright">
          <small-box ng-repeat="box in boxes | filter: relatedFilter" ng-model="box"></small-box>
  			</div>

  		</div>

  		<!-- narrower column -->
  		<div class="col right">
        <small-box ng-repeat="box in boxes | filter: narrowerFilter" ng-model="box"></small-box>
  		</div>

  	</div>
	</div>
</div>

<div id="enrichment-src">
	<div id="separator">
		<h1>Enrich</h1>
		<div id="enrichmentsearch">
			<input type="text" placeholder="Search in Thesauri" ng-model="searchValue"></input>
      <button type="button" name="button" ng-click="onSearchClick()" ng-disabled="!searchValue">search</button>
		</div>
	</div>

  <div class="col left">

    <button class="enrichbutton" ng-click="onAddPrefLabel()">
			<span class="buttontext">Add preferred term</span>
			<span class="buttonicon"><span class="icon-preflabel"></span></span>
		</button>

    <button class="enrichbutton" ng-click="onAddAltLabel()">
			<span class="buttontext">Add alternative term</span>
			<span class="buttonicon"><span class="icon-altlabel"></span></span>
		</button>

    <button class="enrichbutton" ng-click="onAddDescription()" ng-disabled="label.scopeNote">
			<span class="buttontext">Add description</span>
			<span class="buttonicon"><span class="icon-note"></span></span>
		</button>

    <button class="enrichbutton" ng-click="onAddLink()">
			<span class="buttontext">Add wayback link</span>
			<span class="buttonicon"></span>
		</button>

	</div>
	<div class="col threequarter">
		<div id="enrichmentbrowser" class="nano">
		<div class="nano-content">
			<span class="noresult" ng-show="!resultBoxes">Add enrichment sources by searching</span>
		    <search-result-box ng-repeat="box in resultBoxes | orderBy: ['quality', 'type']" data="box" vocab="vocabulary" action="loadBoxes()" label="label"></search-result-box>
		</div>
		</div>
	</div>

</div>
<div id="enrichment-src-min"></div>
