<div id="header" class="box full">
	<div id="breadcrumb"></div>
  <breadcrumbs></breadcrumbs>

	<span class="icon-folder"></span>
	<span class="language">{{ vocabulary.title.lang }}</span>
</div>

<div class="separatorsmall">

	<div id="filtersearch">
    <search></search>
	</div>
</div>

<div id="labellistwrapper" ng-init="labelLimit = 25">
	<div class="nano">
    <div id="labellist" class="nano-content">

      <!-- dummy to hold sort buttons -->
      <span class="box bigbox label listbox">
        <button type="button" ng-click="labelOrder = 'created'">(sort by date)</button>
        <button type="button" ng-click="labelOrder = '-created'">(sort by date - reversed)</button>
        <button type="button" ng-click="labelOrder = 'prefLabels[0].value'">(sort by preflabel)</button>
        <button type="button" ng-click="labelOrder = ''">(reset order)</button>
      </span>


      <list-box ng-repeat="label in filteredLabels = (labels | filter: labelFilter | orderBy: labelOrder | limitTo: labelLimit)"></list-box>


      <!-- message when no labels found -->
      <!-- <span class="box bigbox label listbox" ng-show="filteredLabels.length > 30">
       No labels found, <a href="#/vocabularies">browse vocabularies!</a>
      </span> -->

      <!-- when search empty and more labels available show option to load more -->
      <span class="box bigbox label listbox" ng-show="!labelFilter && labels.length > labelLimit" ng-click="labelLimit = labelLimit + 25">
        show more
      </span>

      <span class="box bigbox label listbox" ng-click="onCreateLabelClick()">Create label</span>

	</div>
	</div>
</div>
