<div id="header" class="box full">

  <div style="position: fixed; right: 0; bottom: 0;" type="button" ng-click="onLogoutClick()">logout</div>

  <!-- <div style="position: fixed; right: 60px; bottom: 0;" type="button" ng-click="onUsersClick()">users</div> -->

	<h1 class="vocabheading" ng-bind="user.name + ' - all vocabularies'"></h1>
	<span ng-click="openUserDialog()" class="icon-preferences icon"></span>
</div>

<div class="separatorsmall">

	<div id="filtersearch">
    		<input type="text" name="search" value="search" ng-model="vocabFilter" placeholder="filter">
	</div>
</div>

<div id="listwrapper">
	<div class="nano">

    <div id="boxcontainer" class="nano-content voc-box">
		<div class="box vocabulary label" ng-repeat="vocab in vocabularies | filter: {'creator': user.name} | filter: vocabFilter" ng-click="onVocabClick(vocab.id)">
	      <span class="vocabname" ng-bind="vocab.title.value"></span>
	      <span class="vocabrelease" ng-bind="vocab.releaseType + ' vocabulary'"></span>

	      <span class="listtype">Description</span>
          <span class="listcontent wordbreak" ng-bind="vocab.description.value"></span>

          <!--
          <span class="listtype">Creator</span>
          <span class="listcontent" ng-bind="vocab.creator"></span>
          -->

          <span class="listtype">Creation date</span>
          <span class="listcontent" ng-bind="vocab.created | date: 'dd.MM.yyyy'"></span>

	      <!-- <span class="listtype">License</span>
        <span class="listcontent wordbreak" ng-bind="vocab.license"></span> -->

        <span class="listtype">concepts</span>
        <span class="listcontent">{{ stats[vocab.id].concepts }}</span>

        <span class="listtype"><a ng-href="{{getDownloadUrl(vocab.id)}}" ng-click="$event.stopPropagation()">download</a></span>

	      <span class="icon-folder icon"></span>

		</div>
	</div>
	</div>
</div>

<span type="button" class="plusposition" ng-click="onCreateClick()">+</span>
