<div id="header" class="box full">

  <div style="position: fixed; right: 0; bottom: 0;" type="button" ng-click="onLogoutClick()">logout</div>
  <div style="position: fixed; right: 60px; bottom: 0;" type="button" ng-click="openUserDialog()">user dialog</div>

  <!-- <div style="position: fixed; right: 60px; bottom: 0;" type="button" ng-click="onUsersClick()">users</div> -->

	<h1 class="vocabheading">My vocabularies</h1>
</div>

<div class="separatorsmall">

	<div id="filtersearch">
    <input type="text" name="search" value="search" ng-model="vocabFilter" placeholder="filter">
	</div>
</div>

<div id="listwrapper">
	<div class="nano">
    <div id="boxcontainer" class="nano-content voc-box">
		  <ls-vocab-box ng-repeat="vocab in vocabularies | filter: {'creator': user.name} | filter: vocabFilter" data="vocab"></ls-vocab-box>
	  </div>
	</div>
</div>

<span type="button" class="plusposition" ng-click="onCreateClick()">+</span>
