<div id="header" class="box full">
	<div id="breadcrumb"></div>
  <breadcrumbs></breadcrumbs>
	<!-- <h1>LBK phase 14 (Lindig)</h1> -->
	<span class="icon-folder"></span>
	<span class="language">{{ vocabulary.title.lang }}</span>
</div>

<div class="separatorsmall">

	<div id="filtersearch">
		<span class="icon-search" ng-click="focusSearch = true"></span>
		<input type="search" ng-model="labelFilter"></input>
	</div>
</div>

<div id="labellistwrapper">
	<div class="nano">
	   <div id="labellist" class="nano-content">
       <list-box ng-repeat="label in labels | filter: labelFilter | limitTo: 30"></list-box>
		</div>
	</div>
</div>
