<div class="box bigbox label listbox" ng-click="onLabelClick(label.id)">

  <span class="thumbnail" ng-repeat="prefLabel in label.prefLabels | filter: {isThumbnail: 'true'}">
    <button class="showadditionalcontent">+</button>
    {{ prefLabel.value}}
  </span>

  <span class="minipreview">

    <!-- broader -->
    <span class="minileft minicol">
      <span ng-repeat="box in miniBoxes | filter: broaderFilter" class="minibox {{box.type}}"></span>
    </span>

    <!-- text -->
    <span class="minihalfleft minicol">
      <span ng-repeat="box in miniBoxes | filter: attributeFilter" class="minibox {{box.type}}"></span>
    </span>

    <!-- relations -->
    <span class="minihalfright minicol">
      <span ng-repeat="box in miniBoxes | filter: relatedFilter" class="minibox {{box.type}}"></span>
    </span>

    <!-- narrower -->
    <span class="miniright minicol">
      <span ng-repeat="box in miniBoxes | filter: narrowerFilter" class="minibox {{box.type}}"></span>
    </span>

  </span>

  <span class="type"><span class="icon-label"></span></span>

  <span class="language" ng-repeat="prefLabel in label.prefLabels | filter: {isThumbnail: 'true'}">
    {{ prefLabel.lang.split("-")[0] }}
  </span>

</div>
