
<a href="#/vocabularies">all vocabularies</a>
>
{{ vocabulary.title.value }}

<h1>Vocabulary: {{ vocabulary.title.value }} ({{ vocabulary.title.lang }})</h1>

<input type="text" name="search" value="search" placeholder="{{placeholder}}" ng-model="labelFilter" ng-disabled="!labels">

<ul>
  <li ng-repeat="label in labels | filter: labelFilter | limitTo: 50">

    <!-- expand / collapse buttons -->
    <button type="button" name="button" ng-click="expanded = 'true'" ng-disabled="expanded">+</button>

    <a ng-repeat="prefLabel in label.prefLabels" ng-show="prefLabel.isThumbnail" href="#/vocabularies/{{ vocabulary.id }}/labels/{{ label.id }}">
      {{ prefLabel.value }}
    </a>

    <!-- expanded details -->
    <ul ng-show="expanded">
      <li>Beschreibung: {{ label.scopeNote.value }}</li>
      <li>Erstellt von: {{ label.creator }}</li>
      <li>Erstellt: {{ label.created | date: 'dd.MM.yyyy' }}</li>
    </ul>

  </li>
</ul>

<h3>Metadaten</h3>
<ul>
  <li>Beschreibung: {{ vocabulary.description.value }}</li>
  <li>Erstellt: {{ vocabulary.created | date: 'dd.MM.yyyy' }}</li>
  <li>Erstellt von: {{ vocabulary.creator }}</li>
  <li>Lizenz: {{ vocabulary.license }}</li>
  <li>status: {{ vocabulary.statusType }}</li>
</ul>
