<h1>Labeling System Webapp</h1>

<!-- search box -->
<input type="text" name="search" value="" placeholder="search labels" ng-model="labelFilter" ng-change="onSearchBoxChange()">
<!--<button type="button" name="button" ng-click="onSearchClick()">search</button>-->

<!-- search results -->
<ul ng-show="showLabels">
  <li ng-repeat="label in labels | filter: labelFilter as filtered">
    {{ label.label.preferredLabel }}
  </li>

  <!-- message when no labels found -->
  <span ng-show="showLabels && !filtered.length">
    No labels found, <a href="#/vocabularies">browse vocabularies!</a>
  </span>
</ul>

<!-- landing page text prior to search -->
<div ng-show="!showLabels">
  Portland wolf meggings, slow-carb four loko squid helvetica. Viral authentic bicycle rights bespoke brooklyn forage, irony everyday carry quinoa. Umami wolf organic, hoodie ennui disrupt church-key kinfolk gastropub synth. Ramps fashion axe cliche, keffiyeh 3 wolf moon before they sold out kinfolk master cleanse pour-over listicle williamsburg four dollar toast ethical kitsch. Organic stumptown occupy, DIY meh man bun four dollar toast shoreditch craft beer mlkshk retro four loko. Vice letterpress plaid cray. Everyday carry try-hard readymade, deep v meh fixie bicycle rights keytar drinking vinegar godard hammock cold-pressed.<br><br>

  Shoreditch forage readymade, occupy blue bottle gentrify godard. Bitters single-origin coffee 8-bit green juice, pour-over man bun cred blog vice paleo franzen occupy stumptown. Pug kombucha next level, kogi aesthetic twee bitters organic waistcoat sustainable pop-up hella green juice yuccie hoodie. Lumbersexual chia selfies, schlitz polaroid leggings seitan bespoke microdosing. Kickstarter meh irony hashtag tumblr. Aesthetic ennui quinoa chillwave scenester, organic cliche before they sold out mixtape 8-bit vinyl. Pinterest gochujang letterpress gluten-free, VHS everyday carry tattooed kinfolk chambray keffiyeh XOXO readymade.<br>

  Authentic craft beer synth portland kale chips bitters. Squid migas lo-fi, swag keytar helvetica YOLO williamsburg tousled twee polaroid. Knausgaard organic literally austin, typewriter farm-to-table artisan beard fap lomo four loko banjo. Green juice photo booth humblebrag cliche, butcher raw denim shabby chic whatever celiac affogato vinyl lumbersexual intelligentsia artisan banh mi. Hella shoreditch street art, kickstarter you probably haven't heard of them viral normcore ethical selvage twee kitsch hoodie typewriter. Artisan squid polaroid photo booth narwhal umami. Franzen venmo iPhone freegan, authentic letterpress poutine cray.
</div>
