<div id="header" class="box full">
	<div id="breadcrumb"></div>
	<h1>LBK phase 14 (Lindig)</h1>
	<span class="icon-folder"></span>
	<span class="language">en</span>
</div>
<div id="separator">
	<h1>Enrich</h1>
	<div id="enrichmentsearch">
		<input type="search" value="Search in Thesauri"></input>
	</div>
</div>

<div id="labellistwrapper">
	<div class="nano">
	<div id="labellist" class="nano-content">
		<div class="box bigbox label">
			<span class="thumbnail"><button class="showadditionalcontent">+</button>Linienbandkeramik (Neolithic culture and style)</span>
			<span class="minipreview">
				<span class="minileft minicol">
					<span class="minibox getty"></span>
					<span class="minibox eh"></span>
				</span>
				<span class="minihalfleft minicol">
					<span class="minibox text"></span>
					<span class="minibox text"></span>
				</span>
				<span class="minihalfright minicol">
					<span class="minibox label"></span>
					<span class="minibox label"></span>
				</span>
				<span class="miniright minicol">
					<span class="minibox label"></span>
					<span class="minibox label"></span>
				</span>
			</span>
			<span class="type"><span class="icon-label"></span></span>
			<span class="language">en</span>
		</div>
		<div class="box bigbox label">
			<span class="thumbnail"><button class="showadditionalcontent">+</button>Linienbandkeramik (Neolithic culture and style)</span>
			<span class="type"><span class="icon-label"></span></span>
			<span class="language">en</span>
		</div>
		<div class="box bigbox label">
			<span class="thumbnail"><button class="showadditionalcontent">+</button>Linienbandkeramik (Neolithic culture and style)</span>
			<span class="minipreview">
				<span class="minileft minicol">
					<span class="minibox getty"></span>
					<span class="minibox eh"></span>
				</span>
				<span class="minihalfleft minicol">
					<span class="minibox text"></span>
					<span class="minibox text"></span>
				</span>
				<span class="minihalfright minicol">
					<span class="minibox label"></span>
					<span class="minibox label"></span>
				</span>
				<span class="miniright minicol">
					<span class="minibox label"></span>
					<span class="minibox label"></span>
				</span>
			</span>
			<span class="type"><span class="icon-label"></span></span>
			<span class="language">en</span>
		</div>
		<div class="box bigbox label">
			<span class="thumbnail"><button class="showadditionalcontent">+</button>Linienbandkeramik (Neolithic culture and style)</span>
			<span class="type"><span class="icon-label"></span></span>
			<span class="language">en</span>
		</div>
		<div class="box bigbox label">
			<span class="thumbnail"><button class="showadditionalcontent">+</button>Linienbandkeramik (Neolithic culture and style)</span>
			<span class="type"><span class="icon-label"></span></span>
			<span class="language">en</span>
		</div>
		<div class="box bigbox label">
			<span class="thumbnail"><button class="showadditionalcontent">+</button>Linienbandkeramik (Neolithic culture and style)</span>
			<span class="type"><span class="icon-label"></span></span>
			<span class="language">en</span>
		</div>
		<div class="box bigbox label">
			<span class="thumbnail"><button class="showadditionalcontent">+</button>Linienbandkeramik (Neolithic culture and style)</span>
			<span class="type"><span class="icon-label"></span></span>
			<span class="language">en</span>
		</div>
		<div class="box bigbox label">
			<span class="thumbnail"><button class="showadditionalcontent">+</button>Linienbandkeramik (Neolithic culture and style)</span>
			<span class="type"><span class="icon-label"></span></span>
			<span class="language">en</span>
		</div>
		<div class="box bigbox label">
			<span class="thumbnail"><button class="showadditionalcontent">+</button>Linienbandkeramik (Neolithic culture and style)</span>
			<span class="type"><span class="icon-label"></span></span>
			<span class="language">en</span>
		</div>
		<div class="box bigbox label">
			<span class="thumbnail"><button class="showadditionalcontent">+</button>Linienbandkeramik (Neolithic culture and style)</span>
			<span class="type"><span class="icon-label"></span></span>
			<span class="language">en</span>
		</div>
		<div class="box bigbox label">
			<span class="thumbnail"><button class="showadditionalcontent">+</button>Linienbandkeramik (Neolithic culture and style)</span>
			<span class="type"><span class="icon-label"></span></span>
			<span class="language">en</span>
		</div> 
		<div class="box bigbox label">
			<span class="thumbnail"><button class="showadditionalcontent">+</button>Linienbandkeramik (Neolithic culture and style)</span>
			<span class="type"><span class="icon-label"></span></span>
			<span class="language">en</span>
		</div>
		<div class="box bigbox label">
			<span class="thumbnail"><button class="showadditionalcontent">+</button>Linienbandkeramik (Neolithic culture and style)</span>
			<span class="type"><span class="icon-label"></span></span>
			<span class="language">en</span>
		</div>
		<div class="box bigbox label">
			<span class="thumbnail"><button class="showadditionalcontent">+</button>Linienbandkeramik (Neolithic culture and style)</span>
			<span class="type"><span class="icon-label"></span></span>
			<span class="language">en</span>
		</div>
		</div>
		</div>
</div>