<breadcrumbs></breadcrumbs>

<h1>label: {{ prefLabel.value }}</h1>



<h3>same level</h3>
<ul>

  <li ng-show="label.related">related Labels:</li>
  <ul>
    <li ng-repeat="relatedLabel in relatedLabels">
      <span ng-repeat="prefLabel in relatedLabel.prefLabels" ng-show"prefLabel.isThumbnail">
        {{ prefLabel.value }}
      </span>
      <button type="button" name="button" ng-click="onDetailClick(relatedLabel)">details</button>
    </li>
  </ul>

  <li ng-show="label.exactMatch">exact match:</li>
  <ul>
    <li ng-repeat="match in exactMatches">
      {{ match.label }} ({{ match.type }})
    </li>
  </ul>

  <li ng-show="label.closeMatch">close match:</li>
  <ul>
    <li ng-repeat="match in closeMatch">
      {{ match.label }} ({{ match.type }})
    </li>
  </ul>

  <li ng-show="label.relatedMatch">related match:</li>
  <ul>
    <li ng-repeat="match in relatedMatch">
      {{ match.label }} ({{ match.type }})
    </li>
  </ul>

  <li ng-show="label.seeAlso">Wayback Links</li>
  <ul>
    <li ng-repeat="resource in seeAlsoResources">{{ resource.label }} ({{ resource.type }})</li>
  </ul>

</ul>

<h3>Broader</h3>
<ul>
  <li ng-show="label.broader">broader Labels:</li>
  <ul ng-repeat="broaderLabel in broaderLabels">
    <li ng-repeat="prefLabel in broaderLabel.prefLabels" ng-show"prefLabel.isThumbnail">
      {{ prefLabel.value }}
      <button type="button" name="button" ng-click="onDetailClick(broaderLabel)">details</button>
    </li>
  </ul>

  <li ng-show="label.broadMatch">broad match:</li>
  <ul>
    <li ng-repeat="match in broadMatches">
      {{ match.label }} ({{ match.type }})
    </li>
  </ul>
</ul>

<h3>Narrower</h3>
<ul>
  <li ng-show="label.narrower">narrower Labels:</li>
  <ul ng-repeat="narrowerLabel in narrowerLabels">
    <li ng-repeat="prefLabel in narrowerLabel.prefLabels" ng-show"prefLabel.isThumbnail">
      {{ prefLabel.value }}
      <button type="button" name="button" ng-click="onDetailClick(narrowerLabel)">details</button>
    </li>
  </ul>

  <li ng-show="label.narrowMatch">narrow match:</li>
  <ul>
    <li ng-repeat="match in narrowMatch">
      {{ match.label }} ({{ match.type }})
    </li>
  </ul>
</ul>

<!-- search repositories -->
<div style="border: 1px solid;">
  <h3>Anreichern</h3>
  <input type="text" name="search" value="" placeholder="search" ng-model="labelFilter"><button type="button" name="button" ng-click="onSearchClick()">suchen</button>
  <!-- <button type="button" name="button" ng-click="searchInRepositories()">search in repositories</button> -->

  <li ng-repeat="result in searchResults">
    <!-- {{ label.prefLabels[0].value }} -->
    {{ result.labels[0] }}
    <span ng-show="result.scheme === 'Labeling System'" style="background-color: lightblue;">ls</span>
    <!-- <span ng-show="label.vocabID === vocabulary.id" style="background-color: yellow;">same vocab</span> -->

    <button type="button" name="button" ng-click="onNarrowerClick(label)">narrower</button>
    <button type="button" name="button" ng-click="onBroaderClick(label)">broader</button>

    <!-- details -->
    <ul>
      <li>description: {{ result.descriptions[0]}}</li>
    </ul>



  </li>

  <!-- message in case no search results found -->
  <div ng-show="searchResults.length < 1">
    No search results found!
  </div>

</div>
