<a href="#/">back to search</a>

<h1>all vocabularies</h1>

<!-- <input type="text" name="search" value="search" placeholder="filter" ng-model="vocabFilter"> -->

<div ng-repeat="vocab in vocabularies | filter: vocabFilter" style="border: 1px solid black; margin: 10px;">
  <a href="#/vocabularies/{{ vocab.id }}/labels/">
    {{ vocab.title.value }}
  </a>
  <ul>
    <li>description: {{ vocab.description.value }}</li>
    <li>created: {{ vocab.created | date: 'dd.MM.yyyy'}}</li>
    <li>license: {{ vocab.license }}</li>
  </ul>
</div>
