<div class="dialogwrapper label">

    <div class="dialogheader">
        <h3 ng-bind="$ctrl.data.thumbnail"></h3>
        <p class="typeinformation">concept metadata/settings</p>
        <div class="line-bottom line"></div>
    </div>

    <div class="dialogscroll nocontrol">
        <div class="nano">
            <div class="nano-content">

                <!-- change label -->
                <div class="dialogbox dialog-full">
                    <h4 ng-class="{'inactive': vocab.releaseType === 'public'}">Rename</h4>
                    <input type="text" maxlength="{{ $ctrl.maxConceptLabelLength }}" placeholder="label" ng-model="$ctrl.data.thumbnail" ng-class="{'inactive': vocab.releaseType === 'public'}" ng-disabled="vocab.releaseType === 'public'" ng-change="$ctrl.modifiedLabel = true">
                </div>

                <div class="line-dialog line"></div>

                <!-- Downloads -->
                <div class="dialogbox dialog-full">
                    <h4>RDF Downloads</h4>
                    <span class="downloadlist">
                        <a ng-href="{{ $ctrl.data.getUrl() + '.jsonld' }}" target="_blank" ng-click="$event.stopPropagation()">JSON-LD</a>
                        <a ng-href="{{ $ctrl.data.getUrl() + '.ttl' }}" target="_blank" ng-click="$event.stopPropagation()">Turtle</a>
                        <a ng-href="{{ $ctrl.data.getUrl() + '.rdf' }}" target="_blank" ng-click="$event.stopPropagation()">RDF/XML</a>
                        <a ng-href="{{ $ctrl.data.getUrl() + '.n3'}}" target="_blank" ng-click="$event.stopPropagation()">N-Triples</a>
                    </span>
                </div>

                <div class="line-dialog line"></div>

                <!-- functions -->
                <div class="dialogbox dialog-full">
                    <h4 ng-class="{'inactive': vocab.releaseType === 'public'}">Functions</h4>
                    <ls-confirm-button text="Delete Concept" on-confirm="$ctrl.deleteConcept()" inactive="vocab.releaseType === 'public'"></ls-confirm-button>
                </div>

            </div>
        </div>
    </div>
</div>
