<div class="dialogwrapper label">

  <div class="dialogheader">
    <h3 ng-repeat="prefLabel in label.prefLabels | filter: {isThumbnail: true}" ng-bind="prefLabel.value"></h3>
    <p class="typeinformation"> metadata/settings</p>
    <div class="line-bottom line"></div>
  </div>


  <div class="dialogscroll">
  <div class="nano">
  <div class="nano-content">

    <!-- <div class="dialogbox dialog-full" ng-repeat="prefLabel in label.prefLabels | filter: {isThumbnail: true}">

      <h4>main term:</h4>
      <input type="text" ng-model="prefLabel.value"></input>

    </div> -->


    <!-- <div class="line-dialog"></div> -->



    <div class="dialogbox dialog-full">
      <h4>Meta data</h4>

        <span class="listtype">License</span>
        <span class="listcontent"><a ng-href="{{label.license}}" target="_blank">CC BY</a></span>

        <span class="listtype">Creator</span>
        <span class="listcontent" ng-bind="label.creator"></span>

        <span class="listtype">Date of creation</span>
        <span class="listcontent" ng-bind-template="{{ label.created | date: 'dd.MM.yyyy' }}"></span>

        <!--
        <span class="listtype">Contributors:</span>
        <span class="listcontent">
          <ul>
            <li ng-repeat="contributor in label.contributors" ng-bind="contributor"></li>
          </ul>
        </span>
        -->




    </div>

    <div class="line-dialog line"></div>
    <div class="dialogbox dialog-full">
      <h4>Downloads</h4>
       <span class="downloadlist">
          <a ng-href="{{ label.getUrl() + '.jsonld' }}" target="_blank" ng-click="$event.stopPropagation()">JSONLD</a>
          <a ng-href="{{ label.getUrl() + '.ttl' }}" target="_blank" ng-click="$event.stopPropagation()">Turtle</a>
          <a ng-href="{{ label.getUrl() + '.rdf' }}" target="_blank" ng-click="$event.stopPropagation()">RDF/XML</a>
          <a ng-href="{{ label.getUrl() + '.n3'}}" target="_blank" ng-click="$event.stopPropagation()">N-Triples</a>
        </span>
    </div>

    <div class="line-dialog line"></div>
    <div class="dialogbox dialog-full">
      <h4>Functions</h4>
      <ls-confirm-button on-confirm="deleteConcept(label.id); closeThisDialog()"></ls-confirm-button>
    </div>














  </div>
  </div>
  </div>



  <div class="cancel" ng-click="closeThisDialog()">Cancel</div>
  <div class="apply" ng-click="onThumbnailPrefLabelEdit(label); closeThisDialog()">Apply</div>
</div>
