<div class="dialogwrapper label">

  <div class="dialogheader">
    <h3 ng-bind="label.thumbnail"></h3>
    <p class="typeinformation"> metadata/settings</p>
    <div class="line-bottom line"></div>
  </div>


  <div class="dialogscroll">
  <div class="nano">
  <div class="nano-content">

    <div class="dialogbox dialog-full">
      <h4 ng-class="{'inactive': vocab.releaseType === 'public' && !publicLabelEdit}">Rename</h4>
      <input type="text" placeholder="label" ng-model="newLabel" ng-class="{'inactive': vocab.releaseType === 'public' && !publicLabelEdit}" ng-disabled="vocab.releaseType === 'public' && !publicLabelEdit">
    </div>

    <div class="line-dialog line"></div>
    <div class="dialogbox dialog-full">
      <h4>Meta data</h4>

      <span class="listtype">License</span>
      <span class="listcontent"><a ng-href="{{label.license}}" target="_blank">CC BY</a></span>

      <span class="listtype">Creator</span>
      <span class="listcontent" ng-bind="label.creator"></span>

      <span class="listtype">Date of creation</span>
      <span class="listcontent" ng-bind-template="{{ label.created | date: 'dd.MM.yyyy' }}"></span> 


    </div>

    <div class="line-dialog line"></div>
    <div class="dialogbox dialog-full">
      <h4>Downloads</h4>
       <span class="downloadlist">
          <a ng-href="{{ label.getUrl() + '.jsonld' }}" target="_blank" ng-click="$event.stopPropagation()">JSONLD</a>
          <a ng-href="{{ label.getUrl() + '.ttl' }}" target="_blank" ng-click="$event.stopPropagation()">Turtle</a>
          <a ng-href="{{ label.getUrl() + '.rdf' }}" target="_blank" ng-click="$event.stopPropagation()">RDF/XML</a>
          <a ng-href="{{ label.getUrl() + '.n3'}}" target="_blank" ng-click="$event.stopPropagation()">N-Triples</a>
        </span>
    </div>

    <div class="line-dialog line"></div>
    <div class="dialogbox dialog-full">
      <h4 ng-class="{'inactive': vocab.releaseType === 'public' && !publicLabelEdit}">Functions</h4>
      <ls-confirm-button on-confirm="deleteConcept(label); closeThisDialog()" inactive="vocab.releaseType === 'public'"></ls-confirm-button>
    </div>


  </div>
  </div>
  </div>



  <div class="cancel" ng-click="closeThisDialog()">Cancel</div>
  <div class="apply" ng-click="$ctrl.onApply(newLabel); closeThisDialog()" ng-class="{'inactive': newLabel === label.thumbnail || newLabel.length < 1}">Apply</div>
</div>
