<div class="dialogwrapper label">
    <div class="dialogheader">
        <h3>Create new concept</h3>

        <div id="tabcontainer">
            <div class="tab lefttab" ng-click="$ctrl.showCSV = false" ng-class="{'active': !$ctrl.showCSV}"><span class="tablabel">single concept</span></div>

            <div class="tab righttab" ng-click="$ctrl.showCSV = true" ng-class="{'active': $ctrl.showCSV}"><span class="tablabel">csv import</span></div>

        </div>
        <div class="line-bottom line"></div>
    </div>

    <div class="dialogscroll">
        <div class="nano">

            <!-- single concept -->
            <div class="nano-content" ng-show="!$ctrl.showCSV">

                <form name="$ctrl.conceptForm" novalidate>

                    <div class="dialogbox dialog-full">

                        <h4>Label</h4>
                        <input type="text" maxlength="{{ $ctrl.titleLength }}" placeholder="label" ng-model="$ctrl.newConcept.thumbnail" required>

                        <!-- confirm label -->
                        <input ng-show="$ctrl.vocab.releaseType === 'public'" type="text" maxlength="{{ $ctrl.titleLength }}" placeholder="rewrite to prevent wrong spelling" ng-model="$ctrl.newConcept.thumbnailConfirm">

                    </div>

                </form>

            </div>

            <!-- csv import -->
            <div class="nano-content" ng-show="$ctrl.showCSV">
                <!-- <input type="file" class="jfilestyle" file-model="$ctrl.filename" accept=".csv" data-input="false">

                <input type="file" class="filestyle" data-buttonText="Find file"> -->

                <input type="file" file-model="$ctrl.filename" accept=".csv" />
                <div ng-show="errors" class="csverrors">
                <span ng-repeat="error in errors track by $index" ng-bind="error" class="error"></span>
                </div>

            </div>

        </div>
    </div>

    <!-- create / import button -->
    <div class="apply" ng-if="!$ctrl.showCSV" ng-click="$ctrl.onConfirm({$newConcept: $ctrl.newConcept}); closeThisDialog()" ng-class="{'inactive': $ctrl.conceptForm.$invalid || ($ctrl.vocab.releaseType === 'public' && $ctrl.newConcept.thumbnail !== $ctrl.newConcept.thumbnailConfirm) }">Create</div>

    <div class="apply" ng-if="$ctrl.showCSV" ng-click="$ctrl.import()" ng-class="{'inactive': !$ctrl.filename}">Import</div>

</div>
