<div class="dialogwrapper text">
	<div class="dialogheader">
		<h3>Add wayback link</h3>
		<div class="line-bottom"></div>
	</div>

	<div class="dialogscroll">
	<div class="nano">
	<div class="nano-content">
		<div class="dialogbox dialog-full">
			<h4>url</h4>
			<input type="text" placeholder="https://www.example.de" ng-model="url">
		</div>

	</div>
	</div>
	</div>


	<div class="cancel" ng-click="closeThisDialog()">Cancel</div>
	<div class="apply" ng-class="{'inactive': !url}" ng-click="$ctrl.onConfirm({$url: url}); closeThisDialog()">Apply</div>
</div>
